<esa-full-page-notification [notifyIconName]="ColorSvgNames.HappyFace">
    <h2 class="mt-4 text-md font-medium text-[#1e1e1e]">Please regularly check your order for updates. We will notify you when your order is ready for pickup.</h2>
    <app-button (click)="returnProductListPage()"
                [iconName]="ColorSvgNames.HappyFace"
                [iconSize]="24"
                [className]="''"
                class="btn-primary mt-4">
        Return to buy
    </app-button>
</esa-full-page-notification>
