<esa-banner></esa-banner>
<div class="my-container mt-18">
    <div class="border-4 border-solid rounded border-primary p-4 lg:p-10">
        <div class="flex flex-col lg:flex-row gap-4 lg:gap-0 justify-between items-center">
            <p class="font-semibold text-[24px] xl:text-[35px]">
                <i class="fa fa-star mr-3"></i>
                <span class="uppercase">free shipping</span>
            </p>
            <p class="text-base">
                Free Delivery Now On Your First Order and over $200
            </p>
            <p class="font-semibold uppercase text-[24px] xl:text-[35px]">- only $200*</p>
        </div>
    </div>
</div>

<div class="my-container mt-18">
    <div class="flex flex-col gap-4 lg:flex-row lg:gap-8">
        <div class="relative lg:w-1/3">
            <div class="w-[98%] h-[90%] overflow-hidden">
                <!-- overflow-hidden de width height ko bi lo ra khi img scale -->
                <img src="/assets/images/sub-banner-1.jpg" class="fluid-img rounded-md">
            </div>
            <div class="absolute top-10 left-6 lg:top-2 lg:left-2 
                        flex flex-col justify-between gap-4 lg:gap-1">
                <p class="font-semibold text-2xl lg:text-lg">
                    Samsung Gear<span class="block">VR Camera</span>
                </p>
                <p class="text-primary font-medium text-xl">$129.00</p>
                <p class="uppercase underline">Shop Now</p>
            </div>
        </div>
        <div class="relative lg:w-1/3">
            <div class="w-[98%] h-[90%] overflow-hidden">
                <img src="/assets/images/sub-banner-1.jpg" 
                     class="fluid-img rounded-md bg-cover">
            </div>
            <div class="absolute top-10 left-6 lg:top-2 lg:left-2 flex flex-col justify-between gap-4 lg:gap-1">
                <p class="font-semibold text-2xl lg:text-lg">
                    Samsung Gear<span class="block">VR Camera</span>
                </p>
                <p class="text-primary font-medium text-xl">$129.00</p>
                <p class="uppercase underline">Shop Now</p>
            </div>
        </div>
        <div class="relative lg:w-1/3">
            <div class="w-[98%] h-[90%] overflow-hidden">
                <img src="/assets/images/sub-banner-2.jpg" 
                     class="fluid-img rounded-md bg-cover">
            </div>
            <div class="absolute top-10 right-6 lg:top-2 lg:right-4 
                        flex flex-col justify-between gap-4 lg:gap-1">
                <p class="font-semibold text-2xl lg:text-lg">
                    Marcel Dining<span class="block">Room Chair</span>
                </p>
                <p class="text-primary font-medium text-xl">$129.00</p>
                <p class="uppercase underline">Shop Now</p>
            </div>
        </div>
    </div>
</div>

<div class="my-container py-8 mt-18">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row justify-start overflow-hidden">
        <!-- <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card> -->
    </div>
</div>

<div class="my-container mt-18">
    <div class="flex flex-col gap-8 lg:flex-row">
        <div class="relative w-full lg:w-1/2">
            <div class="w-[98%] h-[98%] overflow-hidden">
                <img src="/assets/images/cms-banner-5.jpg" 
                     class="fluid-img rounded-md" 
                     style="height: auto;">
            </div>
            <div class="absolute flex flex-col justify-between gap-2 top-2 left-2 
                        xl:top-6 xl:left-6 xl:gap-6
                        md:top-6 md:left-6 md:gap-6">
                <p class="text-black font-normal text-md xl:text-xl">Save Up To 20% Off</p>
                <p class="font-medium text-xl xl:text-3xl">Samsung Gear<span class="block">VR Camera</span></p>
                <p class="btn-primary uppercase text-center self-start">Shop Now</p>
            </div>
        </div>
        <div class="relative w-full lg:w-1/2">
            <div class="w-[98%] h-[98%] overflow-hidden">
                <img src="/assets/images/cms-banner-4.jpg" 
                     class="fluid-img rounded-md" 
                     style="height: auto;"> 
                <!-- h-auto override h-full in fluid-img class -->
            </div>
            <div class="absolute flex flex-col justify-between gap-2 top-2 left-2 
                        xl:top-6 xl:left-6 xl:gap-6
                        md:top-6 md:left-6 md:gap-6">
                <p class="text-black font-normal text-md xl:text-xl">Best Online Discount</p>
                <p class="font-medium text-xl xl:text-3xl">Samsung Gear<span class="block">VR Camera</span></p>
                <p class="btn-primary uppercase text-center self-start">Shop Now</p>
            </div>
        </div>
    </div>
</div>

<div class="my-container my-18">
    <p class="text-heading">What Our Clients Say</p>
    <div class="flex flex-col lg:flex-row justify-between mt-5">
        <!-- <esa-testimonial-card class="w-full lg:w-[32%]"
            [imgLink]="'/assets/images/user1.jpg'" 
            [name]="'Patrick Goodman'" 
            [designation]="'Manager'" 
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, like Aldus PageMaker including versions of Lorem Ipsum.'"
        >
        </esa-testimonial-card>
        <esa-testimonial-card class="w-full lg:w-[32%]"
            [imgLink]="'/assets/images/user1.jpg'" 
            [name]="'Patrick Goodman'" 
            [designation]="'Manager'" 
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, like Aldus PageMaker including versions of Lorem Ipsum.'"
        >
        </esa-testimonial-card>
        <esa-testimonial-card class="w-full lg:w-[32%]"
            [imgLink]="'/assets/images/user1.jpg'" 
            [name]="'Patrick Goodman'" 
            [designation]="'Manager'" 
            [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, like Aldus PageMaker including versions of Lorem Ipsum.'"
        >
        </esa-testimonial-card> -->
    </div>
</div>
<div class="my-container py-8">
    <div class="flex flex-row justify-start  gap-4">
        <p class="heading text-secondary">fashion</p>
        <p class="heading text-secondary">electronic</p>
        <p class="heading text-secondary">furniture</p>
    </div>
    <div class="flex flex-row justify-start overflow-hidden">
        <!-- product card co min-width => overflow => hidden de tránh lộ phần đó ra -->
        <!-- <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card>
        <esa-product-card></esa-product-card> -->
    </div>
</div>
<div class="my-container my-18">
    <div class="flex flex-row flex-wrap justify-between">
        <!-- Normal (mobile first is 1/2 lg is 1/5 but on tight screen when reach 220px it wrap) -->
        <!-- <esa-feature class="w-[50%] min-w-[220px] lg:w-[20%]"
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
        <esa-feature class="w-[50%] min-w-[220px] lg:w-[20%]"
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
        <esa-feature class="w-[50%] min-w-[220px] lg:w-[20%]"
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
        <esa-feature class="w-[50%] min-w-[220px] lg:w-[20%]"
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature>
        <esa-feature class="w-[50%] min-w-[220px] lg:w-[20%]"
            [iconClass]="'fas fa-wallet'" 
            [heading]="'Free Shipping'" 
            [description]="'For all Orders Over $100'"
        >
        </esa-feature> -->
    </div>
</div>