.sidenav {
    @apply h-screen w-iconSidebar pt-6 pb-10 flex flex-col bg-primary flex-shrink-0;
}

.icon-container {
    @apply relative pb-2 flex flex-col items-center justify-center gap-4;

    a {
        @apply block p-2 rounded-full;
        &:hover {
            @apply bg-backgroundLightPrimary;
        }
    }
}

.brand {
    @apply mb-4;
}

.user-avatar-container {
    width: 30px;
    height: 30px;
}

.sidebar-mode-toggler-container {
    svg-icon {
        transition: all .2s linear;
        cursor: pointer;
    }
}