:host {
    //this is the color of backdrop, since we disable the style , we must set this by ourself
    --mat-sidenav-scrim-color: rgba(0, 0, 0, 0.5);
}

mat-sidenav-container {
    @apply h-full;

    mat-sidenav {
        width: 280px;
    }
}

.collapse-container {
    @apply h-full relative;
    color: var(--text-secondary-color);
    .toggleBtn {
        float: right;
        &::after {
            display: table;
            content: '';
            clear: both;
        }
    }
}

.collapse-content {
    @apply absolute top-0 left-0 h-full w-full;
    overflow-y: auto;
    min-width: 240px;
    padding: 8px 4px;
}

.dynamic-width {
    width: calc(100% - 280px);
}