<button (click)="toggleViewMode()">Toggle View Mode</button>
@if (this.managementViewMode === 'sidebar') {
    @if ((this.topbarOpened$ | async) === true) {
    <esa-management-topbar>
    </esa-management-topbar>
    } @else {
    <ng-container [ngTemplateOutlet]="topbarHoverRevealerTempl"></ng-container>
    <ng-template #topbarHoverRevealerTempl>
        <div class="topbar-revealer absolute top-0 left-0 z-10 w-full h-[40px]" 
             (mouseenter)="toggleTopbar()"
             (mouseleave)="interruptToggleTopvar()">
        </div>
    </ng-template>
    }
    <div class="flex flex-row">
        <esa-management-navigation [hidden]="!(this.navigationLeftOpened$ | async)"
                                   [userInfo]="userInfo!">
        </esa-management-navigation>
    
        <!-- Tabs components goes into here, they will have the layout component with header -->
        <router-outlet></router-outlet>
    </div>

} @else {
    <esa-management-topbar>
    </esa-management-topbar>
    <esa-management-navigation-horizontal [userInfo]="userInfo!">
    </esa-management-navigation-horizontal>
    <router-outlet></router-outlet>
}
