<aside class="sidenav bg-primary dark:bg-darkPrimary">
    <div class="icon-container">
        <div class="brand">
            <svg-icon [iconName]="'angular'"
                      [size]="32">
            </svg-icon>
        </div>
        <a [routerLink]="['/management',{outlets: {primary: 'product-catalog'}}]"
           nz-tooltip
           nzTooltipPlacement="right"
           nzTooltipTitle="Product and catalog features"
           nzTooltipTrigger="hover"
           (click)="toggleSideBar()">
            <svg-icon [iconName]="OutlineSvgNames.Cart"
                      [fillColor]="'whitesmoke'"
                      [size]="24">
            </svg-icon>
        </a>
        <a [routerLink]="['/management',{outlets: {primary: 'provider-stock'}}]"
           nz-tooltip
           nzTooltipPlacement="right"
           nzTooltipTitle="Provider and stock features"
           nzTooltipTrigger="hover"
           (click)="toggleSideBar()">
            <svg-icon [iconName]="OutlineSvgNames.Cube"
                      [fillColor]="'whitesmoke'"
                      [size]="24">
            </svg-icon>
        </a>
        <a [routerLink]="['/management',{outlets: {primary: 'sale-coupon'}}]"
            nz-tooltip
            nzTooltipPlacement="right"
            nzTooltipTitle="Sale and coupons features"
            nzTooltipTrigger="hover"
           (click)="toggleSideBar()">
            <svg-icon [iconName]="OutlineSvgNames.Discount"
                      [fillColor]="'whitesmoke'"
                      [size]="24">
            </svg-icon>
        </a>
        <a [routerLink]="['/management',{outlets: {primary: 'order'}}]"
           nz-tooltip
           nzTooltipPlacement="right"
           nzTooltipTitle="Orders features"
           nzTooltipTrigger="hover">
            <svg-icon [iconName]="OutlineSvgNames.Clipboard"
                      [fillColor]="'whitesmoke'"
                      [size]="24"
                      (click)="toggleSideBar()">
            </svg-icon>
        </a>
    </div>
    <div class="flex-auto">
    </div>
    <div class="flex flex-col items-center gap-4">
        <div class="sidebar-mode-toggler-container">
            @if ((sidebarMode$ | async) === SidebarMode.OVER) {
            <ng-container [ngTemplateOutlet]="switchSidebarOverModeTempl">
            </ng-container>
            } @else if ((sidebarMode$ | async) === SidebarMode.PUSH) {
            <ng-container [ngTemplateOutlet]="switchSidebarPushModeTempl">
            </ng-container>
            }
            <ng-template #switchSidebarPushModeTempl>
                <svg-icon [iconName]="OutlineSvgNames.SidebarPushRight"
                          [size]="24"
                          (click)="switchSidebarOver()"
                          nz-tooltip
                          nzTooltipPlacement="right"
                          nzTooltipTitle="Switch to overlay sidebar"
                          nzTooltipTrigger="hover">
                </svg-icon>
            </ng-template>
            <ng-template #switchSidebarOverModeTempl>
                <svg-icon [iconName]="OutlineSvgNames.SidebarOverlay"
                          [size]="24"
                          [fillColor]="'whitesmoke'"
                          (click)="switchSidebarPush()"
                          nz-tooltip
                          nzTooltipPlacement="right"
                          nzTooltipTitle="Switch to push sidebar"
                          nzTooltipTrigger="hover">
                </svg-icon>
            </ng-template>
        </div>

        <div class="topbar-toggler-container">
            @if ((topbarOpened$ | async) === true) {
            <ng-container [ngTemplateOutlet]="topbarCloseTempl">
            </ng-container>
            } @else {
            <ng-container [ngTemplateOutlet]="topbarOpenTempl">
            </ng-container>
            }
            <ng-template #topbarCloseTempl>
                <svg-icon [iconName]="OutlineSvgNames.TopbarClose"
                          [size]="24"
                          (click)="toggleTopbar()"
                          nz-tooltip
                          nzTooltipPlacement="right"
                          nzTooltipTitle="Close Topbar"
                          nzTooltipTrigger="hover">
                </svg-icon>
            </ng-template>
            <ng-template #topbarOpenTempl>
                <svg-icon [iconName]="OutlineSvgNames.TopbarOpen"
                          [size]="24"
                          [fillColor]="'whitesmoke'"
                          (click)="toggleTopbar()"
                          nz-tooltip
                          nzTooltipPlacement="right"
                          nzTooltipTitle="Open Topbar"
                          nzTooltipTrigger="hover">
                </svg-icon>
            </ng-template>
        </div>
        <div>
            <svg-icon [iconName]="OutlineSvgNames.Notification" 
                      [size]="28"
                      [fillColor]="'whitesmoke'">
            </svg-icon>
        </div>
        <div>
            <svg-icon [iconName]="OutlineSvgNames.Cog" 
                      [size]="32"
                      [fillColor]="'whitesmoke'"
                      nz-popover 
                      nzPopoverPlacement="rightBottom"
                      [nzPopoverContent]="avatarPopoverContentTemplate">
            </svg-icon>
        </div>
        <div class="user-avatar-container" 
             nz-popover 
             nzPopoverPlacement="rightBottom"
             [nzPopoverContent]="avatarPopoverContentTemplate">
            <img src="../../../assets/images/user1.jpg" class="rounded-full fluid-img">
        </div>
        <ng-template #avatarPopoverContentTemplate>
        <div class="dropdown-item-container flex flex-col">
            <div class="flex flex-row px-3 py-1 cursor-pointer gap-2 hover:opacity-90 hover:bg-lightGray">
                <svg-icon [iconName]="ColorSvgNames.Heart" 
                            [fillColor]="'red'" 
                            [size]="24">
                </svg-icon>
                <span>Bookmarks</span>
            </div>
            <div class="flex flex-row px-3 py-1 cursor-pointer gap-2 hover:opacity-90 hover:bg-lightGray">
                <svg-icon [iconName]="ColorSvgNames.ThumbUp" 
                            [fillColor]="'red'" 
                            [size]="24">
                </svg-icon>
                <span>Likes</span>
            </div>
            <div class="flex flex-row px-3 py-1 cursor-pointer gap-2 hover:opacity-90 hover:bg-lightGray">
                <svg-icon [iconName]="ColorSvgNames.Cog" 
                            [fillColor]="'red'" 
                            [size]="24">
                </svg-icon>
                <span>Settings</span>
            </div>
            <div class="flex flex-row px-3 py-1 cursor-pointer gap-2 hover:opacity-90 hover:bg-lightGray">
                <svg-icon [iconName]="ColorSvgNames.ViewDetail" 
                            [fillColor]="'red'" 
                            [size]="24">
                </svg-icon>
                <span>Orders</span>
            </div>
            <hr class="border-b-2 border-gray-50">
    
            <div class="flex flex-row px-3 py-1 cursor-pointer gap-2 hover:opacity-90 hover:bg-lightGray">
                <svg-icon [iconName]="ColorSvgNames.Logout" 
                            [fillColor]="'red'" 
                            [size]="24" 
                            (click)="logout()">
                </svg-icon>
                <span>Logout</span>
            </div>
        </div>
        </ng-template>
    </div>
</aside>