$background: #f4f5f7;
$blue-border: #4c9aff;
:host {
    --label-color: #5e6c84;
    --input-color: #172b4d;
}

.dark {
    --label-color: #d9e2ec;
    --input-color: #f0f4f8;
}

form {
    .label {
        display: block;
        padding-bottom: .5rem;
        font-weight: 600;
        font-size: .8125rem;
        color: var(--label-color);
    }

    .form-input {
        height: 100%;
        width: 100%;
        padding: .325rem .75rem;

        background-color: inherit; //from user agent stylesheet, the background is field
        border-radius: 3px;
        border: 1px solid #ddd;
        font-size: 15px;
        color: var(--input-color);
        transition: background .1s;

        &:hover {
            background: $background;
            color: invert($color: $background);
        }

        &:focus {
            background: #fff;
            border: 1px solid $blue-border;
            box-shadow: 0 0 0 1px $blue-border;
            outline: none;
        }

        &::placeholder {
            font-size: 14px;
        }
    }

    input:not(:disabled),
    textarea:not(:disabled) {
        cursor: text;
    }
}