*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    @apply font-sans text-base antialiased;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

input[type="number"],select {
    background-color: var(--bg-primary-color) !important;
    color: var(--text-primary-color) !important;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: inherit
}

a,
a:hover,
a:active,
a:focus {
    color: inherit;//override ng-zorro-antd default color for link
}