<style>
    :host {
        word-spacing: -2;
        letter-spacing: -.5;
    }
</style>
<div class="border-b border-solid border-gray-50 clear-fix">
    <div class="overflow-hidden relative group w-1/5 float-left max-h-[350px]">
        <!-- Style child base on parent state with group -->
        <img src="{{product.productCoverImage}}" 
             class="fluid-img object-cover">
        <div class="absolute top-4 left-2 z-10 ">
            <p class="inline-block bg-[red] text-white text-sm px-2 py-[2px] rounded">- 8%</p>
        </div>
        <div class="absolute top-12 -left-12 z-10 group-hover:left-2 transition-all">
            <p class="inline-block bg-[#4cbb6c] text-white text-sm px-2 py-[2px] rounded">New</p>
        </div>
        <div class="absolute -top-48 right-2 z-10 group-hover:top-4 transition-all">
            <div class="flex flex-col gap-2">
                <p class="flex justify-center items-center 
                          border border-solid border-gray-50 rounded-full w-10 h-10 cursor-pointer">
                    <i class="far fa-heart text-xl"></i>
                </p>
                <p class="flex justify-center items-center 
                          border border-solid border-gray-50 rounded-full w-10 h-10 cursor-pointer">
                    <i class="fas fa-expand text-xl"></i>
                </p>
                <p class="flex justify-center items-center 
                          border border-solid border-gray-50 rounded-full w-10 h-10 cursor-pointer">
                    <i class="fas fa-link text-xl"></i>
                </p>
                <p class="flex justify-center items-center 
                          border border-solid border-gray-50 rounded-full w-10 h-10 cursor-pointer"
                   (click)="buyNow()"
                   nz-tooltip
                   nzTooltipTitle="{{I18NCommonIds.CommonActionBuyNow | translate}}"
                   nzTooltipPlacement="right">
                    <svg-icon [iconName]="OutlineSvgNames.ActionBuyNow"
                              [size]="20">
                    </svg-icon>
                </p>
            </div>
        </div>
    </div>
    <div class="float-left p-8 w-4/5 flex flex-col gap-2">
        <p class="text-gray-400 text-sm">{{product.subCatalogName}}</p>
        <p class="">{{product.productName}}</p>
        <div class="star-container">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div>
            @if (product.isOnSale) {
            <span class="text-secondary line-through mr-2">${{[product.productModels[0].price]}}</span>
            <span class="font-bold text-red-600">${{product.productModels[0].priceOnSaleModel}}</span>
            } @else {
            <span class="text-secondary">${{[product.productModels[0].price]}}</span>
            }
        </div>
        <p class="text-gray-500 text-sm font-thin">{{product.productInfo?.productDescription}}</p>
        <div class="flex flex-row items-center gap-1">
            <span class="inline-block rounded-full w-5 h-5 bg-[red]
                         border border-solid border-gray-50">
            </span>
            <span class="inline-block rounded-full w-5 h-5 bg-[black]
                         border border-solid border-gray-50">
            </span>
            <span class="inline-block rounded-full w-5 h-5 bg-[gray] 
                         border border-solid border-gray-50">
            </span>
            <span class="inline-block px-2 bg-[#e9f9ee]
                         border border-solid border-[#4cbb6c] text-[#4cbb6c]">
                In Stock
            </span>
        </div>
        <div class="btn-primary uppercase self-start">Options</div>
    </div>
</div>