<esa-management-layout>
    <a [routerLink]="['provider-list']"
       class="flex flex-row items-center mt-2">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.StocksStack" 
                    [size]="24" 
                    [fillColor]="'#000'">
            </svg-icon>            
        </span>
        Provider list
    </a>
    <a [routerLink]="['stock-list']"
       class="flex flex-row items-center mt-4">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.StocksWarehouse" 
                    [size]="24" 
                    [fillColor]="'#000'">
            </svg-icon>            
        </span>
        Make stock adjustments
    </a>
    <a [routerLink]="['abc-list']"
       class="flex flex-row items-center mt-4">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.StocksOpen" 
                    [size]="24" 
                    [fillColor]="'#000'">
            </svg-icon>            
        </span>
        Add Stock
    </a>
</esa-management-layout>