$pageColor: #9E9E9E;
.pagination-container {
    @apply flex flex-row justify-center items-center gap-2;
    @apply text-xs; //font-fontTable
    color: $pageColor;
}

.page {
    @apply py-2 px-4 rounded-[10px] bg-textLight text-[#fff];
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
    &.active {
        @apply bg-primary;
    }
}