.left {
    @apply h-screen relative w-[75%] min-w-[880px] overflow-auto;
    @apply flex flex-row flex-wrap gap-4 items-start justify-normal;
    padding: 20px 20px;
    resize: horizontal;
}
.right {
    @apply self-start h-auto flex-1 min-w-fit overflow-y-auto;    
    background-color: #3D3B40;
    border-radius: 12px;
    transition: all .2s linear;

}
.collapse {        
    @apply hidden;
    //@apply w-0 min-w-0 overflow-hidden;
}

svg-icon {
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}