<ng-template #horizontalTabsTemplate>
    <div class="tabs-horizontal shadow rounded-sm">
        @for (orderFilterData of orderFilterDatas; track $index) {
        <div class="tab" 
             (click)="selectTab($event, orderFilterData.orderStatusToFilter)" 
             nz-tooltip 
             nzTooltipTitle="{{orderFilterData.description}}">
            <svg-icon [iconName]="orderFilterData.iconName"
                        [size]="32"
                        class="mr-1">
            </svg-icon>
        </div>
        }
    </div>
</ng-template>

<ng-template #verticalTabsTemplate>
    <div class="tabs-vertical shadow rounded-sm">
        @for (orderFilterData of orderFilterDatas; track $index) {
        <div class="tab" 
             (click)="selectTab($event, orderFilterData.orderStatusToFilter)" 
             nz-tooltip 
             nzTooltipTitle="{{orderFilterData.description}}">
            <svg-icon [iconName]="orderFilterData.iconName"
                        [size]="32"
                        class="mr-1">
            </svg-icon>
            <span class="text-md font-semibold">{{orderFilterData.title | uppercase}}</span>
        </div>
        }
    </div>
</ng-template>


<div class="px-8 py-6 ">
    <div class="header bg-[#f5f5f5] dark:bg-[#31363F] mb-4 mx-auto w-4/6 rounded-sm">
        <div class="flex flex-row flex-start items-center gap-2">
            <!-- nullable -->
            <esa-order-list-sort-by [selectedSortBy]="(this.selectedOrderListFilterSortBy$ | async)"
                                    (sortBySelected)="selectSortBy($event)">
            </esa-order-list-sort-by>

            <esa-order-list-sort-type [selectedSortType]="(selectedOrderListFilterSortType$ | async)"
                                      (sortTypeSelected)="selectSortType($event)">
            </esa-order-list-sort-type>
        </div>
        <!-- left flex upper filter container -->

        <div class="flex flex-row flex-start items-center gap-2">
            <esa-order-list-num-per-page [selectedNumberPerPage]="(selectedOrderListNumberPerPage$ | async)"
                                         (numberPerPageSelected)="selectNumberPerPage($event)">
            </esa-order-list-num-per-page>

            <esa-order-list-payment-method [selectedPaymentMethod]="(selectedOrderListFilterPaymentMethod$ | async)" 
                                           (paymentMethodSelectedOrDeselected)="selectOrDeselectPaymentMethod($event)">
            </esa-order-list-payment-method>
        </div>
        <!-- right flex upper filter container -->
    </div>
    <div class="container mx-auto w-5/6 rounded-sm">
        @if (this.currentWindowWidth < lgScreen) {
        <ng-container *ngTemplateOutlet="horizontalTabsTemplate">
        </ng-container>
        } @else {
        <ng-container *ngTemplateOutlet="verticalTabsTemplate">
        </ng-container>
        }
        <div class="cards-container bg-[#f5f5f5] dark:bg-[#31363F] shadow flex flex-col lg:flex-row flex-wrap gap-1 p-2"
             [ngStyle]="this.currentWindowWidth < lgScreen ? {'align-content': 'stretch'} : {'align-content': 'flex-start'}"
             #cardContainer>
             <!-- style will override lg:flex-row if overflow -->
            @for (orderAggregateCart of (this.orderAggregateCartsFilteredSortedPaginated$ | async); track $index) {
            <esa-order-list-card [orderAggregateCart]="orderAggregateCart">
            </esa-order-list-card>
            }
        </div>
    </div>
    <div class="my-4 mx-auto w-4/6 rounded-sm shadow py-6">
        <esa-order-list-pagination [currentPageNum]="(currentPageNum$ | async)!" 
                                   [totalPagesAsArray]="(this.totalPagesAsArray$ | async)!"
                                   (pageNumChanged)="changePageNum($event)">
        </esa-order-list-pagination>
    </div>
</div>