.product-chip-container {
    display: block;
    border-radius: 10px;
    background-color: #fff;
    padding: 14px;
    
    box-shadow: 0 0 10px #ddd;
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s linear;
    cursor: pointer;
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    &:hover {
        transform: translateX(20px);
    }

    &:hover .ribbon {
        transform: rotate(20deg);
    }
}

.img-container {
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;

    float: left;
}

.product-chip-content {
    float: left;
}

.ribbon {
    @apply relative float-right bg-[red] rounded-sm px-1 py-1 text-[#ddd] -rotate-12;
    transition: transform .2s linear;
    .white-circle {
        @apply absolute top-1 right-1 bg-[#111] w-1 h-1;
        border-radius: 50%;
    }
}