<esa-management-layout>
    <a [routerLink]="['coupon-list']"
       class="flex flex-row items-center mt-2">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.PriceTags"
                      [size]="24"
                      fillColor="#ddd">
            </svg-icon>
        </span>
        All coupons
    </a>
    <a [routerLink]="['sale-list']"
       class="flex flex-row items-center mt-4">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.CatalogList"
                      [size]="24"
                      fillColor="#ddd">
            </svg-icon>
        </span>
        All Sale Items
    </a>
</esa-management-layout>