<esa-management-layout>
    <a [routerLink]="['product-list']"
       class="flex flex-row items-center mt-2">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.PriceTags"
                      [size]="24"
                      fillColor="#ddd">
            </svg-icon>
        </span>
        All products
    </a>
    <a [routerLink]="['catalog-list']"
       class="flex flex-row items-center mt-4">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.CatalogList"
                      [size]="24"
                      fillColor="#ddd">
            </svg-icon>
        </span>
        All catalogs
    </a>
    <a [routerLink]="['catalog-add']"
       class="flex flex-row items-center mt-4">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.ActionAdd"
                      [size]="24"
                      fillColor="#ddd">
            </svg-icon>
        </span>
        Add new catalog
    </a>
    <hr class="mt-4 border-2">
    <a [routerLink]="['subcatalog-add']"
       class="flex flex-row items-center mt-4">
        <span class="mr-2">
            <svg-icon [iconName]="OutlineSvgNames.ActionAdd"
                      [size]="24"
                      fillColor="#ddd">
            </svg-icon>
        </span>
        Add new subcatalog
    </a>
</esa-management-layout>