<div class="border-b-gray-50-solid-1px">
    <div class="p-4">
        <label class="text-lg font-bold"
               for="catalog">
            {{I18NProductIds.ProductListLeftFilterFilterBy| translate}}
        </label>
        <br>
    </div>
    <select class="mx-2 border border-solid border-gray-50 rounded px-1 py-3 mb-4
                   text-xs font-bold" 
            name="catalog" 
            id="catalog" 
            (change)="onCatalogChange()">
        @for(cat of allCatalogs$ | async; track cat) {
        <option value="{{cat.catalogId}}">
            {{cat.catalogName}}
        </option>
        }
    </select>
</div>
<div class="p-4">
    <div class="flex flex-col justify-start items-stretch gap-4">
        <div class="text-sm">
            <p class="font-semibold">{{I18NProductIds.ProductListLeftFilterSubcatalog| translate}}</p>
            @for (sub of subCatalogsOfSelectedCatalog$ | async; track sub) {
            <div class="clear-fix mt-2">
                    <p class="float-left">
                        <input type="checkbox" 
                               name="subcatalog" 
                               class="mr-2"
                               value="{{sub.subCatalogId}}"
                               (change)="onSubCatalogSelectionChange($event.target)">
                        <span class="text-xs capitalize">
                            {{sub.subCatalogName | lowercase }}
                        </span>
                    </p>
                    <span class="float-right"></span>
            </div>
            } @empty {
                <div class="text-primary dark:text-darkPrimary">{{I18NProductIds.ProductListLeftFilterEmptyCatalog| translate}}</div>
            }
        </div>
        <!-- Paste codec here -->

        <div class="text-sm">
            <p class="font-semibold">{{I18NProductIds.ProductListLeftFilterPriceRange | translate}}</p>
            <div class="clear-fix mt-2">
                <div class="range_container">
                    <div class="sliders_control">
                        <input id="fromSlider" 
                               type="range" 
                               [(ngModel)]="this.fromPrice" 
                               min="0" 
                               max="1000000" 
                               (change)="onPriceRangeChange()"/>
                        <input id="toSlider" 
                               type="range" 
                               [(ngModel)]="this.toPrice" 
                               min="0" 
                               max="1000000" 
                               (change)="onPriceRangeChange()"/>
                    </div>
                    <div class="form_control">
                        <p>{{this.fromPrice | rcurrency}}</p>
                        <p>{{this.toPrice | rcurrency}}</p>
                    </div>
                </div>
            </div>
            <!-- Het 1 dong filter -->
        </div>
        <!-- Het 1 filter heading condition-->       
    </div>
</div>