.container {
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.item {
    border-radius: 5px;
    padding: 12px 18px;
}

table {
    width: 100%;
    min-width: 600px;
    overflow: scroll;
    font-size: 18px;
    //table does not automatically inherit the font color, and background color
    color: inherit;

    td:not(.left-align) {
        text-align: center; //can change to center
    }

    .left-align, th {
        text-align: left;
    }

    tr {
        border-bottom: 1px solid #f0f0f0;
    }

    td, th {
        padding: 22px 0;
    }
}