<app-button (click)="toggleDisplayMode()"
                [iconName]="this.displayMode == 'table' ? OutlineSvgNames.ViewModeTable : OutlineSvgNames.ViewModeList"
                nz-tooltip
                nzTooltipTitle="Items display mode :{{this.displayMode | uppercase}}"
                nzTooltipPlacement="right">
        
</app-button>
<div class="container">
    @if (this.displayMode == 'table') {
    <ng-container [ngTemplateOutlet]="tableMode">
    </ng-container>
    } @else {
    <ng-container [ngTemplateOutlet]="listMode">
    </ng-container>
    }
</div>

<ng-template #tableMode>
<table class="bg-white dark:bg-darkGray">
    <tr>
        <th style="text-align: center;">ID</th>
        <th style="text-align: center;">ProductName</th>
        <th style="text-align: center;">ProductImage</th>
        <th>Qty</th>
        <th>OrderMoreLev</th>
        <th>Request Price</th>
    </tr>
    @for (itemStock of this.itemStockLookUp; track itemStock) {
    <tr>
        <td>
            #{{itemStock.productModelId | slice:0:8 | uppercase}}
        </td>
        <td>{{itemStock.productModelName}}</td>
        <td class="flex flex-row items-center justify-center">
            <img src="{{itemStock.productCoverImage}}" 
                     width="60" height="60" 
                     class="object-cover rounded-md">
        </td>
        <td>{{itemStock.currentQuantity}}</td>
        <td>{{itemStock.quantityToRequestMoreFromProvider}}</td>
        <td>{{itemStock.unitRequestPrice}}</td>
    </tr>    
    }
</table>
</ng-template>
<ng-template #listMode>
<div class="flex flex-row gap-2 flex-wrap">
    @for (itemStockWithInfo of this.itemStockLookUp; track itemStockWithInfo) {
        <div class="item bg-white dark:bg-darkGray clear-fix">
            <div class="float-left mr-2">
                @if (itemStockWithInfo.productCoverImage == null || itemStockWithInfo.productCoverImage == '') {
                    <img src="../../../../../assets/images/no-image.png" 
                         width="60" height="60" 
                         class="object-cover rounded-md">
                } @else {
                    <img src="{{itemStockWithInfo.productCoverImage}}" 
                         width="60" height="60" 
                         class="object-cover rounded-md">
                }
            </div>
            <div class="info float-left">
                <p>Item name - #{{itemStockWithInfo.productModelId | slice:0:8 | uppercase}}</p>
                <p>Current Qty: {{itemStockWithInfo.currentQuantity}}</p>
                <p>Request More Qty: {{itemStockWithInfo.quantityToRequestMoreFromProvider}}</p>
                <p>Request Price: {{itemStockWithInfo.unitRequestPrice | rcurrency}}</p>
            </div>
        </div>
    }
</div>
</ng-template>