<footer class="border-y border-gray-50 dark:border-darkPrimary py-20">
    <div class="my-container">
        <div class="flex flex-col gap-12 justify-between lg:flex-row lg:gap-6">
            <div class="hidden lg:block">
                <h3 class="text-heading">{{I18NLayoutIds.FooterContactUsHeading | translate}}</h3>
                <div class="text-subheading">
                    <p class="mt-6">Esa - EShop Analysis</p>
                    <p [innerHTML]="I18NLayoutIds.FooterContactUsAddress | translate"></p>
                    <p class="mt-5">sales&#64;yourcompany.com</p>
                    <p class="mt-6 text-primary dark:text-darkPrimary text-xl font-semibold">(+91) 9876-543-210</p>
                    <div class="flex flex-row items-center gap-4 mt-5">
                        <i class="far fa-comment text-3xl text-primary dark:text-darkPrimary font-medium"></i>
                        <p class="text-heading font-medium" 
                           [innerHTML]="I18NLayoutIds.FooterContactUsChat | translate">
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-heading">{{I18NLayoutIds.FooterProductHeading | translate}}</h3>
                <div class="text-subheading mt-6 flex flex-col gap-2">
                    <p>{{I18NLayoutIds.FooterProductPriceDrops | translate}}</p>
                    <p>{{I18NLayoutIds.FooterProductBestSales | translate}}</p>
                    <p>{{I18NLayoutIds.FooterProductNewProducts | translate}}</p>
                    <p>{{I18NLayoutIds.FooterProductContactUs | translate}}</p>
                    <p>{{I18NLayoutIds.FooterProductSitemap | translate}}</p>
                    <p>{{I18NLayoutIds.FooterProductStores | translate}}</p>
                </div>
            </div>
            <div>
                <h3 class="text-heading">{{I18NLayoutIds.FooterOurCompanyHeading | translate}}</h3>
                <div class="flex flex-col gap-2 mt-6 text-subheading ">
                    <p>{{I18NLayoutIds.FooterOurCompanyDelivery | translate}}</p>
                    <p>{{I18NLayoutIds.FooterOurCompanyLegalNotice | translate}}</p>
                    <p>{{I18NLayoutIds.FooterOurCompanyTermAndConditions | translate}}</p>
                    <p>{{I18NLayoutIds.FooterOurCompanyAboutUs | translate}}</p>
                    <p>{{I18NLayoutIds.FooterOurCompanySecurePayment | translate}}</p>
                    <p>{{I18NLayoutIds.FooterOurCompanyPrivacyPolicy | translate}}</p>
                </div>
            </div>
            <div>
                <h3 class="text-heading">{{I18NLayoutIds.FooterSubscribeToNewsletterHeading | translate}}</h3>
                <div class="flex flex-col gap-6 mt-6 text-subheading">
                    <p>{{I18NLayoutIds.FooterSubscribeToNewsletterDescription | translate}}</p>
                    <input type="text" 
                           placeholder="{{I18NLayoutIds.FooterSubscribeToNewsletterEmailPlaceholder | translate}}"
                           class="border border-solid border-gray-200 dark:border-darkPrimary rounded p-3 w-auto">
                    <button class="btn-primary inline-block self-start ">{{I18NLayoutIds.FooterSubscribeToNewsletterSubscribe | translate}}</button>
                    <div>
                        <input type="checkbox" 
                               id="agreement" 
                               name="agreement">
                        <label for="agreement" 
                               class="ml-3">
                               {{I18NLayoutIds.FooterSubscribeToNewsletterAgreeTermConditions | translate}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="flex flex-row justify-center items-center py-2">
    <div class="flex flex-row gap-8">
        <i class="fab fa-facebook-f text-xl"></i>
        <i class="fab fa-twitter text-xl"></i>
        <i class="fab fa-instagram text-xl"></i>
        <i class="fab fa-youtube text-xl"></i>
    </div>
</div>