<footer class="border-y dark:border-darkPrimary py-20">
    <div class="my-container">
        <div class="flex flex-col gap-12 justify-between lg:flex-row lg:gap-6">
            <div class="hidden lg:block">
                <h3 class="text-heading">Contact Us</h3>
                <div class="text-subheading">
                    <p class="mt-6">Classyshop - Mega Super Store</p>
                    <p>507-Union Trade Centre<br>France</p>
                    <p class="mt-5">sales&#64;yourcompany.com</p>
                    <p class="mt-6 text-primary dark:text-darkPrimary text-xl font-semibold">(+91) 9876-543-210</p>
                    <div class="flex flex-row items-center gap-4 mt-5">
                        <i class="far fa-comment text-3xl text-primary dark:text-darkPrimary font-medium"></i>
                        <p class="text-heading font-medium">
                            Online Chat
                            <span class="block">Get Expert Help</span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-heading">Products</h3>
                <div class="text-subheading mt-6 flex flex-col gap-2">
                    <p>Prices Drop</p>
                    <p>New Products</p>
                    <p>Best Sales</p>
                    <p>Contact Us</p>
                    <p>Sitemap</p>
                    <p>Stores</p>
                </div>
            </div>
            <div>
                <h3 class="text-heading">Our Company</h3>
                <div class="flex flex-col gap-2 mt-6 text-subheading ">
                    <p>Delivery</p>
                    <p>Legal Notice</p>
                    <p>Term And Conditions Of Use</p>
                    <p>About Us</p>
                    <p>Secure Payment</p>
                    <p>Login</p>
                </div>
            </div>
            <div>
                <h3 class="text-heading">Subscribe To Newsletter</h3>
                <div class="flex flex-col gap-6 mt-6 text-subheading">
                    <p>Subscribe to our latest newsletter to get news about special discount</p>
                    <input type="text" 
                           placeholder="Your Email Address"
                           class="border border-solid border-gray-200 dark:border-darkPrimary rounded p-3 w-auto">
                    <button class="btn-primary inline-block self-start ">Subscribe</button>
                    <div>
                        <input type="checkbox" 
                               id="agreement" 
                               name="agreement">
                        <label for="agreement" 
                               class="ml-3">
                            I agree to the terms and conditions and the private policy
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="flex flex-row justify-center items-center py-2">
    <div class="flex flex-row gap-8">
        <i class="fab fa-facebook-f text-xl"></i>
        <i class="fab fa-twitter text-xl"></i>
        <i class="fab fa-instagram text-xl"></i>
        <i class="fab fa-youtube text-xl"></i>
    </div>
</div>