<div class=" py-2 border-b-gray-50-solid-1px my-container">
    <div class="flex flex-row justify-between items-center text-secondary">
        <div class="md:hidden sm:hidden lg:block">Get up 50% off new season styles, limited time only</div>

        <div class="flex flex-row justify-between lg:gap-3 sm:gap-0 md:gap-0 sm:justify-center md:justify-center">
            <p class="pr-3 border-r-2 border-solid border-gray-50 sm:min-w-min">
                Help Center
            </p>
            <p class="pr-3 border-r-2 border-solid border-gray-50 sm:min-w-min">
                Order Tracking
            </p>
            <p class="pr-3 border-r-2 border-solid border-gray-50 sm:min-w-min">
                English
                <span class="dropdown-arrow text-black"></span>
            </p>
            <p class="sm:min-w-min">
                USD 
                <span class="dropdown-arrow text-black"></span>
            </p>
            
        </div>
    </div>
</div>
<div class=" border-b-gray-50-solid-1px pb-6 mt-6 my-container">
    <div class="flex flex-row justify-between items-center">
        <div class="bg-cover">
            <a>
                <img src="https://demos.codezeel.com/prestashop/PRS21/PRS210502/img/logo-1691412328.jpg" 
                     style="min-width: 240px; width: 280px ;height: auto;">
            </a>
        </div>
    
        <div class="flex flex-row justify-between items-center gap-2 sm:hidden md:hidden lg:hidden xl:flex">
            <input type="text" 
                   placeholder="Search product here ..." 
                   style="min-width: 700px;" 
                   class="border rounded border-gray-50 border-solid p-2">
            <button class="btn-primary-uppercase txt-[13px]">
                Search
            </button>
        </div>
    
        <div class="flex flex-row justify-between items-center gap-2">
            @if ((this.authStatus$ | async) === AuthStatus.Anonymous) {
            <div class="border-r-2 border-solid border-gray-300 px-4 py-2 xl:block lg:block sm:hidden md:hidden">
                <a class="text-black" (click)="login()">Login / Register</a>
            </div>
            } @else {
            <div class="border-r-2 border-solid border-gray-300 px-4 py-2 xl:block lg:block sm:hidden md:hidden">
                <a class="text-black" (click)="logout()">Logout</a>
            </div>
            }
            <i class="fa fa-user xl:hidden lg:hidden sm:block md:block"></i>
            <div class="px-2">
                <a class="text-black"><i class="fa fa-repeat flex items-center justify-center text-black xl:text-[32px] md:text-[20px]"></i></a>
            </div>
            <div class="px-2">
                <a class="text-black"><i class="far fa-heart flex items-center justify-center text-black xl:text-[32px] md:text-[20px] font-medium"></i></a>
            </div>
            <div class="px-2">
                <a class="text-black"><i class="fa fa-cart-plus flex items-center justify-center text-black xl:text-[32px] md:text-[20px]"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="my-container xl:block lg:block md:hidden sm:hidden">
    <div class="flex flex-row justify-between items-center font-medium">
        <p class="uppercase">
            <i class="fa fa-star mr-2"></i>
            Shop By Categories
        </p>
    
        <div class="xl:flex lg:hidden flex-row justify-between text-center"> 
            <p class="2xl:p-4 xl:p-1 min-w-[100px]">Home</p>
            <p class="2xl:p-4 xl:p-1 min-w-[100px]">Fashion</p>
            <p class="2xl:p-4 xl:p-1 min-w-[130px]">New Arrivals</p>
            <p class="2xl:p-4 xl:p-1 min-w-[110px]">All Brands</p>
            <p class="2xl:p-4 xl:p-1 min-w-[100px]">More</p>
        </div>
    
        <p>
            <i class="fa fa-star mr-2"></i>
            Free International Shipping
        </p>
    </div>
</div>