<div class=" py-2 border-b-gray-50-solid-1px dark:border-darkPrimary my-container">
    <div class="flex flex-row justify-between items-center text-secondary dark:text-darkSecondary">
        <div class="md:hidden sm:hidden lg:block">{{I18NLayoutIds.LayoutTopbarWelcome | translate}}</div>

        <div class="flex flex-row justify-between lg:gap-3 sm:gap-0 md:gap-0 sm:justify-center md:justify-center">
            <p class="{{LayoutClassName.LangChangedText}} pr-3 border-r-2 border-solid border-gray-50 dark:border-darkPrimary sm:min-w-min">
                @if ((authStatus$ | async) === AuthStatus.Authenticated) {
                {{I18NLayoutIds.LayoutTopbarReward | translate}}: <span class="text-darkPrimary font-semibold">{{ rewardPoints$ | async }}</span>
                } 
                @else {
                {{I18NLayoutIds.LayoutTopbarReward | translate}}: <span nz-tooltip nzTooltipTitle="{{I18NLayoutIds.LayoutTopbarLogin | translate}} required">?</span>
                }
            </p>
            <p class="{{LayoutClassName.TourBtn}} pr-3 border-r-2 border-solid border-gray-50 dark:border-darkPrimary sm:min-w-min hover:underline cursor-pointer" 
               (click)="startTour()">
                {{I18NLayoutIds.LayoutTopbarHelp | translate}}
            </p>
            <p class="pr-3 border-r-2 border-solid border-gray-50 dark:border-darkPrimary sm:min-w-min">
                @if ((this.authStatus$ | async) === AuthStatus.Authenticated && (this.trackingOrder$ | async) !== null) {
                <a (click)="continueOrderingProcess()" class="hover:underline">{{I18NLayoutIds.LayoutTopbarOrderTracking | translate}}</a>
                } @else {
                <span class="cursor-not-allowed">{{I18NLayoutIds.LayoutTopbarOrderTracking | translate}}</span>
                }
            </p>
            <p class="pr-3 border-r-2 border-solid border-gray-50 dark:border-darkPrimary sm:min-w-min">
                @if (currentTheme === ThemeType.DARK) {
                <app-button [iconName]="ColorSvgNames.ThemeDark"
                            [iconSize]="24"
                            (click)="changeTheme(ThemeType.LIGHT)"
                            className="{{LayoutClassName.ShoppingThemeBtn}} btn-secondary" nz-tooltip nzTooltipTitle="{{I18NLayoutIds.LayoutTopbarThemeDark | translate}}">
                </app-button>
                }
                @if (currentTheme === ThemeType.LIGHT) {
                <app-button [iconName]="ColorSvgNames.ThemeLight"
                            [iconSize]="24"     
                            (click)="changeTheme(ThemeType.DARK)"
                            className="{{LayoutClassName.ShoppingThemeBtn}} btn-secondary" nz-tooltip nzTooltipTitle="{{I18NLayoutIds.LayoutTopbarThemeLight | translate}}">
                </app-button>
                }
            </p>
            <p class="pr-3 border-r-2 border-solid border-gray-50 dark:border-darkPrimary sm:min-w-min">
                <app-button [className]="LayoutClassName.LanguageBtn + ' btn-secondary'"
                    nz-dropdown
                    nzTrigger="click"
                    [nzDropdownMenu]="langMenu">
                    <div class="flex flex-row items-center">
                        @if (this.selectedLanguage === null || this.selectedLanguage === undefined) {
                            <svg-icon [iconName]="ColorSvgNames.FlagVn" 
                                      [size]="24">
                            </svg-icon>
                        <span class="ml-2">Unknown</span>
                        } 
                        @if (this.selectedLanguage === 'vi') {
                        <svg-icon [iconName]="ColorSvgNames.FlagVn" 
                                    [size]="24">
                        </svg-icon>
                        <span class="ml-2">{{I18NLayoutIds.LayoutTopbarLangVi| translate}}</span>
                        }
                        @if (this.selectedLanguage === 'en') {
                        <svg-icon [iconName]="ColorSvgNames.FlagUs" 
                                    [size]="24">
                        </svg-icon>
                        <span class="ml-2">{{I18NLayoutIds.LayoutTopbarLangEn | translate}}</span>
                        }
                    </div>
                </app-button>
                <nz-dropdown-menu #langMenu="nzDropdownMenu">
                    <ul class="mt-3" nz-menu>
                        <li nz-menu-item (click)="changeLanguage('en')">
                            <div class="flex items-center">
                                <svg-icon [iconName]="ColorSvgNames.FlagUs" 
                                            [size]="24">
                                </svg-icon>
                                <span class="ml-2">{{I18NLayoutIds.LayoutTopbarLangEn | translate}}</span>
                            </div>
                        </li>
                        <li nz-menu-item (click)="changeLanguage('vi')">
                            <div class="flex items-center">
                                <svg-icon [iconName]="ColorSvgNames.FlagVn" 
                                            [size]="24">
                                </svg-icon>
                                <span class="ml-2">{{I18NLayoutIds.LayoutTopbarLangVi | translate}}</span>
                            </div>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </p>
            <p class="sm:min-w-min">
                <app-button [className]="LayoutClassName.CurrencyBtn +' btn-secondary'"
                    nz-dropdown
                    nzTrigger="click"
                    [nzDropdownMenu]="currencyMenu">
                    <div class="flex flex-row items-center">
                        @if (this.selectedCurrency === null || this.selectedCurrency === undefined) {
                            <svg-icon [iconName]="ColorSvgNames.FlagVn" 
                                      [size]="24">
                            </svg-icon>
                        <span class="ml-2">{{I18NLayoutIds.LayoutTopbarLanguage | translate}}</span>
                        } 
                        @else {
                            @for (currencyData of this.currencyDatas; track currencyData) {
                                @if (this.selectedCurrency === currencyData.currency) {
                                <svg-icon [iconName]="currencyData.iconName" 
                                            [size]="24">
                                </svg-icon>
                                <span class="ml-2">{{currencyData.title}}</span>
                                }
                            }
                        }
                    </div>
                </app-button>
                <nz-dropdown-menu #currencyMenu="nzDropdownMenu">
                    <ul class="mt-3" nz-menu>
                        @for (currencyData of this.currencyDatas; track currencyData) {
                        <li nz-menu-item (click)="changeCurrency(currencyData.currency)">
                            <div class="flex items-center">
                                <svg-icon [iconName]="currencyData.iconName" 
                                            [size]="24">
                                </svg-icon>
                                <span class="ml-2">{{currencyData.title}}</span>
                            </div>
                        </li>
                        }
                    </ul>
                </nz-dropdown-menu>                
            </p>
            
        </div>
    </div>
</div>
<div class=" border-b-gray-50-solid-1px dark:border-darkPrimary pb-6 mt-6 my-container">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row items-center">
            <div class="{{LayoutClassName.EsaLogo}} bg-cover">
                <a routerLink="/shopping/index">
                    @if (currentTheme === ThemeType.LIGHT) {
                    <img src= "../../../assets/images/esa-logo-light.png" 
                         style="min-width: 180px; width: 220px ;height: 100px; object-fit: cover;">
                    }
                    @if (currentTheme === ThemeType.DARK) {
                    <img src= "../../../assets/images/esa-logo-dark.png" 
                         style="min-width: 180px; width: 220px ;height: 100px; object-fit: cover;">
                    }
                </a>
            </div>
            <svg-icon [iconName]="OutlineSvgNames.Burger"
                      [size]="24"
                      class="{{LayoutClassName.BurgerShoppingBtnOutline}} ml-2 cursor-pointer block lg:hidden"
                      (click)="toggleVerticalNav()">
            </svg-icon>

            <ng-template #verticalNavTemplate>
                <div class="px-4 py-2 flex flex-col gap-2 bg-white dark:bg-black h-full overflow-auto">
                    <div class="cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarHome | translate}}</div>
                    <div class="cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarSales | translate}}</div>
                    <div class="cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarNewArrivals | translate}}</div>
                    <div class="cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarAllBrands | translate}}</div>
                    <div class="cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarAbout | translate}}</div>
                    <div class="cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarMore | translate}}</div>
                    <div class="flex flex-row">
                        <div class="flex-auto"></div>
                        <svg-icon [iconName]="OutlineSvgNames.CircleRightArrow" 
                                  [size]="24"
                                  class="cursor-pointer hover:scale-125"
                                  (click)="closeDrawerRef()">
                        </svg-icon>
                    </div>
                    <div class="flex-auto"></div>
                    <div class="flex flex-col bg-lightGray dark:bg-darkGray">
                        <div class="py-2 px-2 flex flex-row" (click)="hideCatalogContainer()">
                            <span>{{I18NLayoutIds.LayoutNavbarShopCatalog | translate}}</span>
                            <div class="flex-auto"></div>
                            <svg-icon [iconName]="OutlineSvgNames.ArrowDown" 
                                      [size]="24"
                                      class="cursor-pointer hover:scale-125">
                            </svg-icon>
                        </div>
                        <!-- over-hidden since its height dynamically set to h-0 -> h-auto and reverse -->
                        <div class="catalogs-container overflow-hidden transition-all duration-500 ease-in-out">
                            @for (catalog of allCatalog$ | async; track catalog) {
                            <div class="py-4 catalog-heading cursor-pointer border-b-gray-50-solid-1px hover:border-none hover:bg-white dark:hover:bg-black" 
                                 (click)="toggleSubCatalogsMobileSidebarVertical($event)">
                                <span class="font-semibold text-primary dark:text-darkPrimary">
                                    {{catalog.catalogName}}
                                </span>
                                <ul class="pl-5 hover:pl-8 transition-all duration-500 ease-in-out list-disc display-when-click h-0 overflow-hidden">
                                    @for (subcatalog of catalog.subCatalogs; track subcatalog) {
                                    <li class="text-sm">{{subcatalog.subCatalogName | titlecase}}</li>
                                    }
                                </ul>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    
        <div class="relative flex flex-row justify-between items-center gap-2 sm:hidden md:hidden lg:hidden xl:flex">
            <input type="text" 
                   placeholder="{{I18NLayoutIds.LayoutTopbarSearchPlaceholder | translate}}" 
                   style="min-width: 700px;" 
                   class="{{LayoutClassName.GlobalSearchInput}} border rounded border-gray-50 border-solid p-2">
            <button class="{{LayoutClassName.GlobalSearchConfirmBtn}} btn-primary-uppercase txt-[13px]"
                    (click)="searchProduct()">
                {{I18NLayoutIds.LayoutTopbarSearch | translate}}
            </button>

            <ng-template [ngIf]="(matchingProductsSearched$ | async) !== null">
                <div class="absolute top-[55px] z-20 p-4 w-full h-auto max-h-[500px] bg-lightGray dark:bg-darkGray shadow overflow-auto rounded-sm">
                    <div class="-mt-3 bg-transparent flex flex-row p-2">
                        <div class="flex-auto"></div>
                        <div class="{{LayoutClassName.GlobalSearchCloseBtn}}" 
                             (click)="clearSearch()">
                            <svg-icon [iconName]="OutlineSvgNames.ActionClose" 
                                      [size]="24">
                            </svg-icon>
                        </div>
                    </div>
                     <div class="flex flex-col gap-2 rounded">
                        @for (product of (matchingProductsSearched$ | async); track product) {
                        <div class="{{LayoutClassName.ProductSearchCard}} group flex flex-row gap-2 bg-white dark:bg-black cursor-pointer hover:opacity-90 hover:scale-[99%] transition-all duration-300 ease-in-out">
                            <div class="w-[100px] h-[80px]">
                                <img src="{{product.productCoverImage}}" 
                                    class="w-full h-full bg-cover">
                            </div>
                            <div class="flex flex-col">
                                <div class="flex flex-row gap-2">
                                    <span class="font-semibold text-primary dark:text-darkPrimary">{{product.productName}}</span>
                                    <svg-icon [iconName]="OutlineSvgNames.ActionDetail" 
                                              [size]="24"
                                              class="hidden group-hover:block {{LayoutClassName.ViewSearchBtn}}"
                                              (click)="openProductDetail(product.productId!)">
                                    </svg-icon>
                                </div>
                                <div class="text-sm">{{product.productInfo?.productDescription | slice:0:100}}...</div>
                            </div>
                        </div>
                        }
                     </div>
                </div>
            </ng-template>
        </div>
    
        <div class="flex flex-row justify-between items-center gap-2">
            @if ((this.authStatus$ | async) === AuthStatus.Anonymous) {
            <div class="{{LayoutClassName.LoginBtn}} border-r-2 border-solid border-gray-300 dark:border-darkPrimary px-4 py-2 xl:block lg:block sm:hidden md:hidden">
                <a (click)="login()">{{I18NLayoutIds.LayoutTopbarLogin | translate}} / {{I18NLayoutIds.LayoutTopbarRegister | translate}}</a>
            </div>
            } @else {
            <div class="{{LayoutClassName.LogoutBtn}} border-r-2 border-solid border-gray-300 dark:border-darkPrimary px-4 py-2 xl:block lg:block sm:hidden md:hidden">
                <a (click)="logout()">{{I18NLayoutIds.LayoutTopbarLogout | translate}}</a>
            </div>            
            <a class="{{LayoutClassName.CartBtn}} flex flex-row px-2"
               [routerLink]="'/shopping/cart'"
               nz-tooltip
               nzTooltipTitle="{{I18NLayoutIds.LayoutTopbarCart | translate}}">
                <svg-icon [iconName]="'cart-outline'" 
                          [size]="24">
                </svg-icon>
                <span>({{ itemsInCartCount$ | async }})</span>
            </a>
            }
            <div class="px-2 flex flex-row items-center">
                <esa-option-horizontal [optionHorizontalExpanded]="(optionHorizontalExpanded$ | async)!">
                </esa-option-horizontal>
                <app-button [className]="(optionHorizontalExpanded$ | async) === true ? LayoutClassName.BurgerShoppingBtnColor + ' btn-secondary' : LayoutClassName.BurgerShoppingBtnColor + ' btn-empty'"
                            [ngClass]="(optionHorizontalExpanded$ | async) === true ? 'ml-2' : ''"
                            [iconName]="(optionHorizontalExpanded$ | async) === true ? ColorSvgNames.OptionLessHorizontal : ColorSvgNames.OptionMoreHorizontal" 
                            [iconSize]="24"
                            (click)="toggleOptionHorizontal()">
                </app-button>                
            </div>
            @if ((this.authStatus$ | async) === AuthStatus.Authenticated) {
                <div class="relative">
                    <div class="px-2 flex flex-row gap-1 items-center cursor-pointer hover:scale-110" #userAvatar>
                            <!-- (mouseover)="openOptionHorizontal()" 
                            (mousemove)="openOptionHorizontal()" 
                            (mouseleave)="closeOptionHorizontal()"> -->
                        <div class="user-avatar-container user-avatar-child" 
                             style="height: 30px; width: 30px;">
                            <img src="../../../assets/images/user1.jpg" 
                                 class="rounded-full fluid-img">
                        </div>
                        <svg-icon [iconName]="ColorSvgNames.OptionMoreVertical"
                                  [size]="24"
                                  class="user-avatar-child">
                        </svg-icon>
                    </div>

                    <ng-template [ngIf]="this.optionVerticalOpened === true && windowWidth > mdScreen">
                    <div class="absolute z-10 top-[40px] right-[5px]" #optionVertical>
                        <esa-option-vertical>
                        </esa-option-vertical>
                    </div>
                    </ng-template>
                </div>
            }
        </div>
    </div>

    <!-- mobile dropdown menu when screen size md, sm, not layer dropdown above -->
    <ng-template [ngIf]="this.optionVerticalOpened === true && windowWidth <= mdScreen">
    <div #optionVertical>
        <esa-option-vertical>
        </esa-option-vertical>
    </div>
    </ng-template>
</div>

<div class="my-container xl:block lg:block md:hidden sm:hidden">
    <div class="flex flex-row justify-between items-center font-medium">
        <p class="uppercase flex flex-row items-center gap-2 hover:bg-lightGray dark:hover:bg-darkGray cursor-pointer"
           [ngClass]="{'bg-lightGray dark:bg-darkGray': megaMenuRendered === true}"
           (mouseover)="renderMegaMenu(true)">
            <svg-icon [iconName]="OutlineSvgNames.Burger" 
                      [size]="24">
            </svg-icon>
            {{I18NLayoutIds.LayoutNavbarShopCatalog| translate}}
        </p>
    
        <div class="xl:flex lg:hidden flex-row justify-between text-center"> 
            <p class="2xl:p-4 xl:p-1 min-w-[100px] cursor-pointer hover:underline">
                <a routerLink="/shopping/index">{{I18NLayoutIds.LayoutNavbarHome | translate}}</a>
            </p> 
            <p class="2xl:p-4 xl:p-1 min-w-[100px] cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarSales | translate}}</p>
            <p class="2xl:p-4 xl:p-1 min-w-[130px] cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarNewArrivals | translate}}</p>
            <p class="2xl:p-4 xl:p-1 min-w-[110px] cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarAllBrands | translate}}</p>
            <p class="2xl:p-4 xl:p-1 min-w-[110px] cursor-pointer hover:underline">{{I18NLayoutIds.LayoutNavbarAbout | translate}}</p>
            <p class="2xl:p-4 xl:p-1 min-w-[100px] cursor-pointer">{{I18NLayoutIds.LayoutNavbarMore | translate}}</p>
        </div>
    
        <p class="flex flex-row gap-2">
            <svg-icon [iconName]="OutlineSvgNames.Shipping" 
                      [size]="24">
            </svg-icon>
            {{I18NLayoutIds.LayoutNavbarFreeShipping | translate}}
        </p>
    </div>
</div>
<!-- Menu for catalog -->
<ng-template [ngIf]="megaMenuRendered === true" #megaMenuTemplate>
<nav class="megaMenu absolute z-10 w-full h-full" 
     (mouseenter)="renderMegaMenu(true)" 
     (mouseleave)="renderMegaMenu(false)">
    <div class="w-5/6 h-full mx-auto overflow-auto bg-lightGray dark:bg-darkGray">
        <div class="flex flex-row flex-wrap p-4 gap-8">
            <!-- 16px is the gap-4 width -->
            @for (catalog of (allCatalog$ | async); track catalog) {
            <div class="flex flex-col text-center" style="width: calc(20% - 32px);">
                <div class="font-semibold text-primary dark:text-darkPrimary">{{catalog.catalogName}}</div>
                <div class="text-left mt-4">
                    @for (subcatalog of catalog.subCatalogs; track subcatalog) {
                    <p class="text-md">{{subcatalog.subCatalogName | titlecase}}</p>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</nav>
</ng-template>