<div class="rounded-xl bg-lightGray dark:bg-darkGray flex flex-row gap-3 overflow-hidden transition-all duration-1200 ease-in-out"
     [ngClass]="optionHorizontalExpanded === true ? 'w-auto py-[5px] px-[10px]': 'w-0 p-0'">
    <svg-icon [iconName]="ColorSvgNames.ViewDetail" 
              [size]="24"
              class="{{LayoutClassName.YourOrders}}"
              (click)="navigateToOrderList()">
    </svg-icon>
    <a (click)="navigateToProductWishList()">
        <svg-icon [iconName]="ColorSvgNames.Heart" 
                  [fillColor]="'red'"
                  [size]="24"
                  class="{{LayoutClassName.BookmarkProducts}}">
        </svg-icon>
    </a>
    <a routerLink="/shopping/product-compare" class="{{LayoutClassName.CompareList}} cursor-pointer hover:scale-105 hover:opacity-80">
        <svg-icon [iconName]="ColorSvgNames.Compare" 
                  [size]="24"
                  (click)="navigateToOrderList()">
        </svg-icon>
    </a>
</div>