<div class="px-6 py-3 bg-white dark:bg-darkGray shadow">
    <div class="dropdown-item-container flex flex-col">
        <div class="flex flex-row p-3 gap-2 hover:opacity-90 hover:bg-lightGray dark:hover:bg-black cursor-pointer" 
             (click)="navigateToProductWishList()">
            <svg-icon [iconName]="ColorSvgNames.Heart" 
                      [fillColor]="'red'" 
                      [size]="24">
                      <!-- Why it is not route to product wish list -->
            </svg-icon>
            <span>Bookmarks</span>
        </div>
        <div class="flex flex-row p-3 gap-2 hover:opacity-90 hover:bg-lightGray dark:hover:bg-black cursor-pointer">
            <svg-icon [iconName]="ColorSvgNames.ThumbUp" 
                      [fillColor]="'red'" 
                      [size]="24">
            </svg-icon>
            <span>Likes</span>
        </div>
        <a class="flex flex-row p-3 gap-2 hover:opacity-90 hover:bg-lightGray dark:hover:bg-black"
           routerLink="/shopping/account">
            <svg-icon [iconName]="ColorSvgNames.Cog" 
                      [fillColor]="'red'" 
                      [size]="24">
            </svg-icon>
            <span>Settings</span>
        </a>
        <div class="flex flex-row p-3 gap-2 hover:opacity-90 hover:bg-lightGray dark:hover:bg-black cursor-pointer" 
             (click)="navigateToOrderList()">
            <svg-icon [iconName]="ColorSvgNames.ViewDetail" 
                      [fillColor]="'red'" 
                      [size]="24">
            </svg-icon>
            <span>Orders</span>
        </div>
        <hr class="border-b-2 border-gray-50">

        <div class="flex flex-row p-3 gap-2 hover:opacity-90 hover:bg-lightGray dark:hover:bg-black">
            <svg-icon [iconName]="ColorSvgNames.Logout" 
                      [fillColor]="'red'" 
                      [size]="24">
            </svg-icon>
            <span>Logout</span>
        </div>
    </div>
</div>