<div class="card bg-white dark:bg-black flex flex-row justify-between self-start min-w-fit">
    <div class="flex flex-row justify-start">
        <div class="icon-container self-start">
            @if (orderAggregateCart.orderStatus === OrderStatus.createdDraft) {
            <svg-icon [iconName]="ColorSvgNames.ViewDetail"
                      [size]="56" nz-tooltip nzTooltipTitle="Status: Created Draft">
            </svg-icon>
            } @else if (orderAggregateCart.orderStatus === OrderStatus.customerInfoConfirmed) {
            <svg-icon [iconName]="ColorSvgNames.User"
                      [size]="56" nz-tooltip nzTooltipTitle="Status: Delivery Info confirmed">
            </svg-icon>
            } @else if (orderAggregateCart.orderStatus === OrderStatus.checkouted) {
            <svg-icon [iconName]="ColorSvgNames.PaymentMethods"
                      [size]="56" nz-tooltip nzTooltipTitle="Status: Checkouted">
            </svg-icon>
            } @else if (orderAggregateCart.orderStatus === OrderStatus.stockConfirmed) {
            <svg-icon [iconName]="ColorSvgNames.Lookup"
                      [size]="56" nz-tooltip nzTooltipTitle="Status: Stock confirmed">
            </svg-icon>
            } @else if (orderAggregateCart.orderStatus === OrderStatus.completed) {
            <svg-icon [iconName]="ColorSvgNames.Checkmakr"
                      [size]="56" nz-tooltip nzTooltipTitle="Status: Completed">
            </svg-icon>
            } @else {
            <svg-icon [iconName]="ColorSvgNames.Location"
                      [size]="56" nz-tooltip nzTooltipTitle="Status: The rest">
            </svg-icon>
            }
        </div>
        <div class="ml-2">
            <div class="text-lg">Order<span class="font-semibold text-sm italic">#{{orderAggregateCart.orderId| slice:0:8 | uppercase}}</span></div>
            <div class="flex flex-row mt-2">
                @if (orderAggregateCart.cart.totalSaleDiscountAmount !== 0) {
                <svg-icon [iconName]="ColorSvgNames.SaleTag"
                            [size]="28"
                            class="mr-2">
                </svg-icon>
                <div class="pill-container pill-danger text-xs">
                    <p>-{{orderAggregateCart.cart.totalSaleDiscountAmount | rcurrency}}</p>
                </div>
                }
                @else {
                <div class="pill-container pill-warning text-xs">
                    <p>No Coupon</p>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="flex flex-row items-center justify-center ">
        <div class="text-sm font-semibold text-[green]">
            {{orderAggregateCart.cart.totalPriceFinal| rcurrency}}
        </div>
        <div class="flex flex-col ml-2 gap-3 border-l-2 border-solid pl-2">
            <div class="hover:rotate-[-15deg] transition">
                <svg-icon [iconName]="ColorSvgNames.Lookup"
                          [size]="35"
                          class="cursor-pointer"
                          nz-tooltip
                          nzTooltipTitle="Tracking Order">
                </svg-icon>
            </div>
            <div class="hover:scale-50 transition">
                <svg-icon [iconName]="ColorSvgNames.ViewDetail"
                          [size]="35"
                          class="cursor-pointer"
                          nz-tooltip
                          nzTooltipTitle="Detail Order"
                          (click)="viewDetailOrder()">
                </svg-icon>
            </div>
        </div>
    </div>
</div>