<div class="my-container my-6">
    @if((cartItems$ | async)?.length === 0) {
    <ng-container [ngTemplateOutlet]="addToCartTempl"></ng-container>
    } @else {
    <div class="flex flex-col justify-between gap-8 lg:flex-row" >
        <div class="w-full lg:w-2/3">
            <div class="border border-solid border-gray-50 rounded">
                <div class="border-b-gray-50-solid-1px p-3">
                    <div class="flex flex-row justify-between mx-14">
                        <p class="text-lg font-medium">Shopping Cart</p>
                        <div class="flex flex-row justify-start gap-4">
                            <p class="text-lg font-medium">Unit Price</p>
                            <p class="text-lg font-medium">SubTotal</p>
                        </div>
                    </div>
                </div>            
                <div class="flex flex-col cart-container gap-8 py-8">
                    @for (cartItem of (cartItems$ | async); track cartItem; let i = $index) {
                    <div class="flex flex-row justify-between {{CartClassName.CartItemCard}}">
                        <div class="border border-solid border-gray-50 rounded-md w-[150px] h-[150px] overflow-hidden">
                            <img src="{{cartItem.productImage}}" alt="">
                        </div>
                        <div class="w-1/3  flex flex-col gap-2">
                            <p>{{cartItem.productName}}</p>
                            <p>
                                <span class="text-subheading mr-4">{{cartItem.unitPrice | rcurrency}}</span>
                                @if (cartItem.isOnSale) {
                                <span class="text-primary dark:text-darkPrimary font-semibold text-lg">- {{cartItem.saleValue! | rcurrency}}</span>
                                }
                            </p>
                            <p class="font-bold text-sm">SubCatalog: <span class="text-subheading">{{cartItem.subCatalogName}}</span></p>
                            <!-- <p class="font-bold text-sm">Dimension: <span class="text-subheading">60x90cm</span></p> -->
                        </div>
                        <div>
                            <input class="w-[80px] h-[60px] border border-solid border-gray-50 rounded pl-2"
                                   type="number" 
                                   value="{{cartItem.quantity}}" 
                                   min="1"
                                   (change)="changeCartItemQuantity(i, $event)">
                        </div>
                        <div class="text-primary dark:text-darkPrimary font-semibold text-lg">
                            @if (cartItem.isOnSale) {
                            <span class="line-through">
                                {{ cartItem.unitPrice | rcurrency}}
                            </span>
                            {{cartItem.unitAfterSalePrice! | rcurrency}}
                            } @else {
                            {{cartItem.unitPrice | rcurrency}}
                            }

                        </div>
                        <div class="text-primary dark:text-darkPrimary font-semibold text-lg">
                            @if (cartItem.isOnSale) {
                            <span class="line-through">
                                {{ cartItem.unitPrice * cartItem.quantity | rcurrency}}
                            </span>
                            {{cartItem.unitAfterSalePrice! * cartItem.quantity | rcurrency}}
                            } @else {
                            {{cartItem.unitPrice * cartItem.quantity | rcurrency}}
                            }
                        </div>
                        <div class="{{CartClassName.RemoveCartItemBtn}} fas fa-trash text-primary dark:text-darkPrimary" 
                             (click)="removeCartItemFromCart(i)">
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="mt-4 ml-2 clear-fix">
                <p class="float-left" style="transform: rotate(-90deg);">
                    <i>&#94;</i>
                </p>
                <a class="{{CartClassName.ContinueShoppingBtn}} block float-left ml-2" 
                    routerLink="/shopping/product-list">
                    {{I18NCommonIds.CommonActionContinueShopping | translate}}
                </a>
                <div class="{{CartClassName.ClearCartBtn}} text-center float-right">
                    <button class="btn-primary uppercase text-md"
                            (click)="clearCart()">
                            {{I18NCommonIds.CommonActionClear | translate}}
                    </button>
                </div>
            </div>

            @if ((isLoadingCrossSellingProducts$ | async) === true) {
                <esa-loader-spinner [isLoading]="true" 
                                    [isFullPage]="false">
                </esa-loader-spinner>
            } @else {
                <h2 class="mt-4 mb-2 font-bold">
                    You might be interested
                </h2>
                <div class="flex flex-wrap mb-6" #crossSellingProductsContainer>
                    @for (p of crossSellingProducts$ | async; track p) {
                    <esa-product-card class="{{ProductClassName.ProductCard}} w-1/5" 
                                        [product]="p"
                                        (click)="viewProductQuickView(p.productId)"
                                        (click)="engageWithThisCrossSellingProduct(p)">
                    </esa-product-card>
                    } @empty {
                    <p>No recommended products</p>
                    }
                </div>
            }
        </div>
        <div class="w-full lg:w-1/3">
            <div class="{{CartClassName.CartSummarySection}} border border-solid border-gray-50 rounded py-4">
                <div class="border-b border-gray-50 mt-4">
                    <div class="mx-6 my-4 font-semibold">
                        <div class="clear-fix mt-4">
                            <p class="float-left text-sm">
                                {{I18NCartIds.CartSummarySubTotalHeading| translate}}
                            </p>
                            <p class="float-right text-primary dark:text-darkPrimary text-md">
                                {{ subItemsPrice$ | async | rcurrency}}
                            </p>
                        </div>
            
                        <div class="clear-fix mt-2">
                            <p class="float-left text-sm">
                                {{I18NCartIds.CartSummaryDiscountBySaleHeading| translate}}
                            </p>
                            <p class="float-right text-primary dark:text-darkPrimary text-md">
                                {{ this.discountAmountSale$ | async | rcurrency}}
                            </p>
                        </div>

                        <div class="clear-fix mt-2">
                            <p class="float-left text-sm">
                                {{I18NCartIds.CartSummaryDiscountByCouponHeading| translate}}
                            </p>
                            <p class="float-right text-primary dark:text-darkPrimary text-md">
                                {{ this.discountAmountCoupon$ | async | rcurrency}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mx-6 my-4 font-semibold">
                    <div class="clear-fix mt-4">
                        <p class="float-left text-sm">
                            {{I18NCartIds.CartSummaryGrantTotalAfterSaleHeading| translate}}
                        </p>
                        <p class="float-right text-primary dark:text-darkPrimary text-md">{{ subItemsAfterSalePrice$ | async | rcurrency}}</p>                        
                    </div>
        
                    <div class="clear-fix mt-2">
                        <p class="float-left text-sm">
                            {{I18NCartIds.CartSummaryGrantTotalAfterCouponHeading| translate}}
                        </p>
                        <p class="float-right text-primary dark:text-darkPrimary text-md">
                            {{ subItemsAfterSaleThenCouponPrice$ | async | rcurrency}}
                        </p>
                    </div>
                    <div class="clear-fix mt-2">
                        <p class="float-left text-sm">
                            {{I18NCartIds.CartSummaryGrantTotalFinalHeading| translate}}
                        </p>
                        <p class="float-right text-primary dark:text-darkPrimary text-md">
                            {{ subItemsAfterSaleThenCouponPrice$ | async | rcurrency}}
                        </p>
                    </div>
                </div>

                @if ((this.couponApplied$ | async) === true) {
                <ng-container [ngTemplateOutlet]="removeCouponTempl">
                </ng-container>
                } @else {
                <div class="mx-6 {{CartClassName.ApplyCouponSection}}">
                    <p class="underline text-primary dark:text-darkPrimary">
                        {{I18NCartIds.CartSummaryHavePromotionCodeQuestion | translate}}
                    </p>
                    <div class="flex flex-row gap-4">
                        <input type="text" 
                                #couponCodeApply
                                class="border border-solid border-gray-50 rounded w-3/4 p-2" 
                                placeholder="{{I18NCartIds.CartSummaryPromotionCodePlaceholder | translate}}">
                        <button class="btn-primary uppercase text-md"
                                (click)="applyCoupon()">
                            {{I18NCommonIds.CommonActionApply | translate}}
                        </button>
                    </div>
                </div>
                }
                
                <div class="mt-12 text-center">
                    <button class="{{CartClassName.CartConfirmBtn}} btn-primary uppercase text-md"
                            (click)="confirmCart()">
                            {{I18NCartIds.CartSummaryProceedToCheckout | translate}}
                    </button>
                </div>
            </div>
            <esa-product-policy>
            </esa-product-policy>
        </div>
    </div>        
    }
</div>

<ng-template #removeCouponTempl>
    <div class="totals-item">
        <label>
            {{I18NCartIds.CartSummaryCouponAppliedSuccessfully | translate}}
        </label>
        <button (click)="removeCoupon()"
                class="btn-primary uppercase text-md cursor-pointer">
                {{I18NCartIds.CartSummaryRemoveCoupon| translate}}
        </button>
    </div>
</ng-template>

<ng-template #addToCartTempl>
    <h2>{{I18NCartIds.CartSummaryPleaseAddProductToCart | translate}}</h2>
    <a [routerLink]="'/shopping/product-list'" 
       class="{{CartClassName.ContinueShoppingBtn}}">
       {{I18NCartIds.CartSummaryLetsGo | translate}}
    </a>
</ng-template>