<div class="coupon" [ngClass]="[
    type === 'delete' ? 'type-delete' : 
    type === 'add' ? 'type-add' : 
    'type-edit']">
    <div class="left">
        @if (type === 'delete') {
            <svg-icon [iconName]="OutlineSvgNames.ActionDelete"
                      [size]="32">
            </svg-icon>
        } 
        @if (type === 'edit') {
            <svg-icon [iconName]="OutlineSvgNames.ActionEdit"
                      [size]="32">
            </svg-icon>
        } 
        @if (type === 'add') {
            <svg-icon [iconName]="OutlineSvgNames.ActionAdd"
                      [size]="32">
            </svg-icon>
        } 
    </div>
    <div class="right">
        @if (type === 'delete') {
            Drag To Delete
        } 
        @if (type === 'edit') {
            Drag To Edit 
        } 
        @if (type === 'add') {
            Clic To Add New Coupon
        } 
    </div>
  </div>