<div class="absolute h-full w-full top-0 left-0 bg-black opacity-70 z-10">
</div>
<!-- must set bg for this since it is absolute, so if no background, itt will transparent or same as it relative -->
<div class="fixed top-[5%] left-[10%] w-[80%] h-[90%] z-20 m-auto bg-white dark:bg-black opacity-100 p-3 overflow-auto">
    <div class="clear-fix mt-4">
        <div class="float-end">
            <button (click)="openProductDetail()"
                    class="mr-2 {{ProductClassName.ProductQuickViewExpand}}">
                <svg-icon [iconName]="OutlineSvgNames.ActionExpand"
                          [size]="24">
                </svg-icon>
            </button>
            <button (click)="closeProductModal()"
                    class="{{ProductClassName.ProductQuickViewClose}}">
                <svg-icon [iconName]="OutlineSvgNames.ActionClose"
                        [size]="24">
                </svg-icon>
            </button>
        </div>
    </div>
    <div class="flex flex-row justify-between gap-6 self-start">
        <div class="w-1/2 lg:flex flex-col gap-4 hidden">
            <div class=" border border-solid border-gray-50 rounded self-start 
                    bg-[url('/assets/images/today-is-a-good-day-framed-poster.jpg')] bg-no-repeat w-full h-[75%] lg:bg-center lg:bg-[length:80%_auto]"
            >
                <img class="fluid-img" src="{{ (product$ | async)?.productCoverImage }}">
            </div>
            <div class="flex flex-row justify-between items-center gap-1">
                <!-- chinh lai height khoi nay  -->
                <!-- <button class="py-2 px-4 bg-gray-300 self-stretch text-lg">&#94;</button> -->
                @if (isLoadingCrossSellingProducts$ | async) {
                    <esa-loader-spinner [isLoading]="true" 
                                        [isFullPage]="false">
                    </esa-loader-spinner>
                } @else {
                    @for (p of this.crossSellingProducts$ | async | slice:0:3; track $index) {
                        <div class="border border-solid border-gray-50 rounded">                            
                            <img src="{{p.productCoverImage}}">
                        </div>
                    }
                    @empty {
                        No cross selling products
                    }
                }
            </div>
        </div>
        <div class="w-full lg:w-1/2">
            <esa-product-info-rating [product]="(product$ | async)!"
                                     [isProductRated]="isProductRated$ | async"
                                     [productRating]="productRating$ | async"
                                     [authStatus]="authStatus$ | async"
                                     (productRated)="rateProduct($event)"
                                     class="mb-3">
            </esa-product-info-rating>
            <esa-product-info [product]="(product$ | async)!"
                              [isProductBookmarked]="this.isProductBookmarked$ | async"
                              [isProductLiked]="isProductLiked$ | async"
                              [isProductDisliked]="isProductDisliked$ | async"
                              (productBookmarkToggled)="toggleProductBookmark($event)"
                              (productLikeToggled)="toggleProductLike($event)"
                              (productDislikeToggled)="toggleProductDislike($event)"
                              (productAddedToCompareList)="addProductToCompareList($event)">
            </esa-product-info>
        </div>
    </div>
</div>