<esa-breadcrumb></esa-breadcrumb>
<div class="my-container my-10 flex flex-row items-baseline gap-4">
    <!-- align baseline la gi: no giup cac flex item ko can width nhu nhau -->
    <div class="w-[20%] border border-solid border-gray-50 rounded {{ProductClassName.ProductListFilterByContainer}}">
        <esa-product-filter-by></esa-product-filter-by>
    </div>
    <div class="w-[80%] {{ProductClassName.ProductListContainer}}">
        <h2 class="text-2xl font-semibold">{{ (selectedCatalog$ |async)?.catalogName }}</h2>
        <p class="py-4 border-b-gray-50-solid-1px">{{(selectedCatalog$ |async)?.catalogDescription}}</p>
        <div class="mt-6 pb-6 border-b-gray-50-solid-1px">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row items-center">
                    @if (this.productCardView === true) {
                    <i class="cursor-pointer hover:scale-105 fas fa-list mr-3 text-2xl {{ProductClassName.ProductListViewModeToggler}}" 
                       (click)="toggleViewMode()" nz-tooltip nzTooltipTitle="{{I18NProductIds.ProductListTopFilterViewModeCard | translate}}">
                    </i>
                    } @else {
                    <i class="cursor-pointer hover:scale-105 far fa-square mr-6 text-2xl {{ProductClassName.ProductListViewModeToggler}}"
                       (click)="toggleViewMode()" nz-tooltip nzTooltipTitle="{{I18NProductIds.ProductListTopFilterViewModeList | translate}}">
                    </i>
                    }
                    <span [innerHTML]="I18NProductIds.ProductListTopFilterNumProductsDisplaying | translate: {num: displayingProductsCount$ | async}">
                    </span>
                </div>
                <div class="flex flex-row items-center {{ProductClassName.ProductListSortOrder}}">
                    <label for="productPerPage">{{I18NProductIds.ProductListTopFilterProductPerPage | translate}}:</label>
                    <select class="mx-2 border border-solid border-gray-50 rounded p-2" 
                            name="productPerPage" 
                            id="productPerPage" 
                            (change)="changeProductPerPage($event.target)">
                        <option value="16" selected>16</option>
                        @for(numProductPerPage of numProductPerPageEnums | slice:1; track numProductPerPage) {
                        <option value="{{numProductPerPage.key}}">{{numProductPerPage.value}}</option>
                        }
                    </select>
                    <!-- Het 1 select -->
                    <label for="sortBy">{{I18NProductIds.ProductListTopFilterSortBy | translate}}:</label>
                    <select class="mx-2 border border-solid border-gray-50 rounded p-2" 
                            name="sortBy" 
                            id="sortBy" 
                            (change)="changeSortBy($event.target)">
                        <option value="0" selected></option>
                        @for(sortBy of sortByEnums | slice:1; track sortBy) {
                        <option value="{{sortBy.key}}">{{sortBy.value}}</option>
                        }
                    </select>
                    <!-- Het 1 select -->
                    <label for="orderType">{{I18NProductIds.ProductListTopFilterOrderType | translate}}:</label>
                    <select class="mx-2 border border-solid border-gray-50 rounded p-2" 
                            name="orderType" 
                            id="orderType" 
                            (change)="changeOrderType($event.target)">
                        <option value="0" selected>Ascending</option>
                        @for (orderType of orderTypeEnums | slice:1; track orderType) {
                        <option value="{{orderType.key}}">{{orderType.value}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap mb-6 border-collapse border border-solid border-gray-50 rounded">
            <!-- Todo xem lai border -->
            @for (product of (displayingProducts$ | async); track displayingProducts$) {
                @if (this.productCardView === true) {
                <esa-product-card class="{{ProductClassName.ProductCard}} w-1/4" 
                                  [product]="product"
                                  (click)="viewProductQuickView(product.productId)">
                </esa-product-card>
                }
                @else {
                <esa-product-list-card class="{{ProductClassName.ProductCard}} w-full" 
                                       [product]="product"
                                       (click)="viewProductQuickView(product.productId)">
                </esa-product-list-card>
                }
            }
        </div>
        <div class="flex flex-row justify-between items-center {{ProductClassName.ProductListPagination}}">
            <span class="text-subheading" [innerHTML]="I18NProductIds.ProductListTopFilterNumProductsDisplayingEnd | translate: {num: displayingProductsCount$ | async,start: 1,end: 16}">
            </span>
            <div class="pagination">
                @for (pageNum of totalPageAsArray$ | async; track pageNum) {
                <div class="btn-primary"
                     (click)="changePage(pageNum)">
                    {{pageNum}}
                </div>
                }
            </div>
        </div>
    </div>
</div>
<h2 class="mt-4">
    Recommended For You
</h2>
<div class="flex flex-wrap mb-6 border-collapse border border-solid border-gray-50 rounded">
    @for (p of recommendedProducts$ | async; track p) {
    <esa-product-card class="{{ProductClassName.ProductCard}} w-1/4" 
                        [product]="p"
                        (click)="viewProductQuickView(p.productId)">
    </esa-product-card>
    } @empty {
    <p>No recommended products</p>
    }
</div>