<esa-breadcrumb></esa-breadcrumb>
<div class="my-container my-10 flex flex-row items-baseline gap-4">
    <!-- align baseline la gi: no giup cac flex item ko can width nhu nhau -->
    <div class="w-[20%] border border-solid border-gray-50 rounded">
        <esa-product-filter-by></esa-product-filter-by>
    </div>
    <div class="w-[80%]">
        <h2 class="text-2xl font-semibold">Catalog Name</h2>
        <p class="py-4 border-b-gray-50-solid-1px">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their.</p>
        <div class="mt-6 pb-6 border-b-gray-50-solid-1px">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row items-center">
                    <i class="fas fa-list mr-3 text-2xl" 
                       (click)="toggleViewMode()">
                    </i>
                    <i class="far fa-square mr-6 text-2xl"
                       (click)="toggleViewMode()">
                    </i>
                    <span>There are {{displayingProductsCount$ | async}} products.</span>
                </div>
                <div class="flex flex-row items-center">
                    <label for="productPerPage">Product per page:</label>
                    <select class="mx-2 border border-solid border-gray-50 rounded p-2" 
                            name="productPerPage" 
                            id="productPerPage" 
                            (change)="changeProductPerPage($event.target)">
                        <option value="16" selected>16</option>
                        @for(numProductPerPage of numProductPerPageEnums | slice:1; track numProductPerPage) {
                        <option value="{{numProductPerPage.key}}">{{numProductPerPage.value}}</option>
                        }
                    </select>
                    <!-- Het 1 select -->
                    <label for="sortBy">Sort By:</label>
                    <select class="mx-2 border border-solid border-gray-50 rounded p-2" 
                            name="sortBy" 
                            id="sortBy" 
                            (change)="changeSortBy($event.target)">
                        <option value="0" selected></option>
                        @for(sortBy of sortByEnums | slice:1; track sortBy) {
                        <option value="{{sortBy.key}}">{{sortBy.value}}</option>
                        }
                    </select>
                    <!-- Het 1 select -->
                    <label for="orderType">Order Type:</label>
                    <select class="mx-2 border border-solid border-gray-50 rounded p-2" 
                            name="orderType" 
                            id="orderType" 
                            (change)="changeOrderType($event.target)">
                        <option value="0" selected>Ascending</option>
                        @for (orderType of orderTypeEnums | slice:1; track orderType) {
                        <option value="{{orderType.key}}">{{orderType.value}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap mb-6 border-collapse border border-solid border-gray-50 rounded">
            <!-- Todo xem lai border -->
            @for (product of (displayingProducts$ | async); track displayingProducts$) {
                @if (this.productCardView === true) {
                <esa-product-card class="w-1/4" 
                                  [product]="product"
                                  (click)="viewProductQuickView(product.productId)">
                </esa-product-card>
                }
                @else {
                <esa-product-list-card class="w-full" 
                                       [product]="product"
                                       (click)="viewProductQuickView(product.productId)">
                </esa-product-list-card>
                }
            }
        </div>
        <div class="flex flex-row justify-between items-center">
            <span class="text-subheading">Showing 1-18 of {{displayingProductsCount$ | async}} item(s)</span>
            <div class="pagination">
                @for (pageNum of totalPageAsArray$ | async; track pageNum) {
                <div class="btn-primary"
                     (click)="changePage(pageNum)">
                    {{pageNum}}
                </div>
                }
            </div>
        </div>
    </div>
</div>