<!-- bg-[#f5f5f5] dark:bg-[#31363F] -->
<div class="w-4/5 mx-auto mt-4">
    <div class="pagination-container">
        @if (currentPageNum > 1) {
        <p (click)="goPrevPage()"
           class="hover:underline cursor-pointer">
            Previous
        </p>
        }
        @for (pageNum of totalPagesAsArray; track pageNum) {
            <p class="page bg-[#31363F]"
               [ngClass]="currentPageNum === pageNum ? 'active' : ''"
               (click)="changePage(pageNum)">
               {{pageNum}}
            </p>
        }
        @if (currentPageNum < totalPagesAsArray.length) {
        <p (click)="goNextPage()"
           class="hover:underline cursor-pointer">
            Next
        </p>
        }
    </div>
</div>