<div class="bg-lightGray dark:bg-darkGray">
    <div class="my-container py-6">
        <div class="flex items-stretch mb-8
            xl:flex-row xl:gap-8 
            lg:flex-col lg:gap-2 
            md:flex-col md:gap-4 
            sm:flex-col sm:gap-4 "
        >
            <div class="relative overflow-hidden xl:w-[72.85%] lg:w-full">
                <img src="/assets/images/sample-1.jpg" class="fluid-img">
                <div class="
                    absolute 
                    xl:top-24 xl:right-16 
                    lg:top-10 lg:right-8
                    sm:top-2 sm:right-2">
                    <div class="heading flex flex-col justify-between xl:gap-8 lg:gap-2">
                        <div class="xl:text-xl lg:text-lg text-md">Big Saving Days Sale</div>
                        <div class="xl:text-3xl lg:text-2xl text-xl font-semibold text-[#111] dark:text-[inherit] font-sans" 
                             style="line-height: 1.5;">
                            Buy Modern Chair In 
                            <span class="block">Black Color</span>
                        </div>
                        <div class="xl:text-xl lg:text-md">
                            Starting At Only 
                            <span class="text-primary dark:text-darkPrimary lg:text-3xl font-medium">$99.00</span>
                        </div>
                        <a routerLink="/shopping/product-list" 
                           class="{{LayoutClassName.ShoppingNowBtn}} inline-block btn-primary self-start">
                            {{I18NCommonIds.CommonActionShopNow | translate}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="
                flex items-center 
                xl:flex-col xl:gap-8 xl:w-[27.15%]
                lg:flex-row lg:gap-2 lg:w-full 
                md:flex-col md:gap-4
                sm:flex-col sm:gap-4" 
                >
                <div class="relative overflow-hidden xl:w-full lg:w-1/2">
                    <img src="/assets/images/sub-banner-1.jpg" class="fluid-img">
                    <div class="absolute top-2 left-2 lg:top-10 lg:left-6 
                                flex flex-col justify-between gap-1 lg:gap-4">
                        <p class="font-semibold text-lg lg:text-2xl">Samsung Gear<span class="block">VR Camera</span></p>
                        <p class="text-primary dark:text-darkPrimary font-medium text-xl">$129.00</p>
                        <a routerLink="/shopping/product-list" 
                           class="uppercase underline">
                           {{I18NCommonIds.CommonActionShopNow | translate}}
                        </a>
                    </div>
                </div>
                <div class="relative overflow-hidden xl:w-full lg:w-1/2">
                    <img src="/assets/images/sub-banner-2.jpg" class="fluid-img">
                    <div class="absolute top-2 right-2 lg:top-10 lg:right-6 
                                flex flex-col justify-between gap-1 lg:gap-4">
                        <p class="font-semibold text-lg lg:text-2xl">Marcel Dining<span class="block">Room Chair</span></p>
                        <p class="text-primary dark:text-darkPrimary font-medium text-xl">$129.00</p>
                        <a routerLink="/shopping/product-list" 
                           class="uppercase underline">
                           {{I18NCommonIds.CommonActionShopNow | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower-banner">
            <div class="flex flex-row lg:gap-8 justify-between overflow-hidden">
                <esa-catalog-card></esa-catalog-card>
                <esa-catalog-card></esa-catalog-card>
                <esa-catalog-card></esa-catalog-card>
                <esa-catalog-card></esa-catalog-card>
                <esa-catalog-card></esa-catalog-card>
                <esa-catalog-card></esa-catalog-card>
            </div>
        </div>
    </div>
</div>