<form class="flex flex-row px-1 py-2 rounded-sm" 
      #commentForm="ngForm"
      (ngSubmit)="commentProduct(commentForm.value)">
    <div class="self-start icon-container overflow-hidden mr-3">
        <img src="../../../../../assets/images/user1.jpg" style="width: 60; height: 60px; object-fit: cover;">
    </div>
    <div class="flex flex-col flex-1">
        <textarea type="text" 
                  placeholder="Enter your comment" 
                  (keypress)="autoGrow($event)"
                  name="commentDetail"
                  ngModel
                  #commentDetail>
        </textarea>
        <div class="flex flex-row gap-3 items-center mt-3">
            <div class="flex-auto"></div>
            <app-button className="btn-secondary ml-2">
                cancel
            </app-button>
            <app-button className="btn-primary"
                        type="submit">
                submit
            </app-button>
        </div>
    </div>
</form>