<div class="clear-fix bg-lightGray dark:bg-darkGray rounded px-6 py-2 mt-6">
    <div class="float-left  w-[35px] h-[35px] mr-2">
        <svg-icon [size]="35"
                    [iconName]="'pack2_security_icon'">
        </svg-icon>
    </div>
    <div class="float-left">
        <p class="font-semibold">Security policy</p>
        <p class="mt-2">(edit with the Customer Reassurance module)</p>
    </div>                    
</div>
<div class="clear-fix bg-lightGray dark:bg-darkGray rounded px-6 py-2 mt-2">
    <div class="float-left w-[45px] h-[45px] mr-2">
        <svg-icon [size]="45"
                    [iconName]="'pack2_carrier_icon'">
        </svg-icon>
    </div>
    <div class="float-left">
        <p class="font-semibold">Delivery policy</p>
        <p class="mt-2">(edit with the Customer Reassurance module)</p>
    </div>                    
</div>
<div class="clear-fix bg-lightGray dark:bg-darkGray rounded px-6 py-2 mt-2">
    <div class="float-left w-[45px] h-[45px] mr-2">
        <svg-icon [size]="45"
                    [iconName]="'pack2_parcel_icon'">
        </svg-icon>
    </div>
    <div class="float-left">
        <p class="font-semibold">Return policy</p>
        <p class="mt-2">(edit with the Customer Reassurance module)</p>
    </div>                    
</div>