
<div class="bg-[#F0F3FF] px-6 py-8">
    <h1 style="margin: 24px 0;" class="font-bold text-2xl">Providers List</h1>
    <!-- Header here -->
    <div class="flex flex-col gap-4 justify-start lg:flex-row md:justify-between">
        <div class="flex flex-col gap-4 lg:flex-row">
            <div class="flex-row-center justify-start outline-btn-purple" style="max-width: fit-content;">
                <span>Filter</span>
                <span class="ml-2">
                    <svg-icon [iconName]="'adjust-outline'"
                              [size]="24"
                              [fillColor]="this.theme.purple">
                    </svg-icon>
                </span>
            </div>
            <div class="search-container input-here flex-row-center">
                <input type="text" 
                       placeholder="Search provider"
                       class="search-container-input">
                <div class="search-btn ml-2">
                    <svg-icon [iconName]="'search-outline'"
                              [size]="24"
                              [fillColor]="this.theme.white">

                    </svg-icon>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-2">
            <div class="flex-row-center justify-start outline-btn-green">
                <span>Excel</span>                
            </div>
            <div class="flex-row-center justify-start outline-btn-red">
                <span>Pdf</span>                
            </div>
            <div class="flex-row-center justify-start fill-btn-green">
                <span>Import</span>
                <span class="ml-2">
                    <svg-icon [iconName]="'download-outline'"
                              [size]="24"
                              [strokeColor]="this.theme.white">
                    </svg-icon>
                </span>
            </div>
            <div class="flex-row-center justify-start fill-btn-red">
                <span>Create Adjustment</span>
                <span class="ml-2">
                    <svg-icon [iconName]="'add-outline'"
                              [size]="24"
                              [strokeColor]="this.theme.white">
                    </svg-icon>
                </span>
            </div>
        </div>
    </div>

    <!-- Selected products -->
    <div class="table-container">
        <table>
            <tr class="font-semibold">
                <th>
                    <div class="flex flex-row items-center">
                        <input type="checkbox" class="mr-2">
                        <span class="mr-2">Date</span>
                        <svg-icon [iconName]="'sort-vertical-outline'"
                                  [size]="24"
                                  [strokeColor]="this.theme.purple">
                        </svg-icon>
                    </div>
                </th>
                <th>
                    <span class="relative">
                    Reference
                    <span class="sort-icon asc" (click)="notify()"></span>
                    </span>
                </th>
                <th style="text-align: center;">
                    <span class="relative">
                    Warehouse - Provider Name
                    <span class="sort-icon asc" (click)="notify()"></span>
                    </span>
                </th>
                <th style="text-align: center;">
                    <span class="relative">
                    Catalogs
                    <span class="sort-icon asc" (click)="notify()"></span>
                    </span>
                </th>
                <th nz-tooltip 
                    nzTooltipTitle="Min quantity for an stock request to be accept" 
                    nzTooltipPlacement="top">
                    Min Qty
                </th>
                <th nz-tooltip 
                    nzTooltipTitle="Min price for an stock request to be accept" 
                    nzTooltipPlacement="top">
                    Min Price
                </th>
                <th>Actions</th>
            </tr>
            @for (providerReqWithCatalogs of allProviderRequirementWithCatalogsAggregates$ | async; track providerReqWithCatalogs) {
            <tr class="text-[{{this.theme.gray}}]">
                <td>
                    <input type="checkbox" class="mr-2">
                    <span class="mr-1">26/12/2023</span>
                </td>
                <td class="left-align">#{{providerReqWithCatalogs.providerRequirement.providerBusinessKey | slice:0:8 | uppercase}}</td>
                <td>{{providerReqWithCatalogs.providerRequirement.providerName | titlecase}}</td>
                <td style="text-align: center;">
                    <div class="flex flex-row gap-2">
                        @for (catalog of providerReqWithCatalogs.availableProviderCatalogs; track catalog) {
                            @if (catalog.catalogImage != null && catalog.catalogImage != undefined && catalog.catalogImage != '') {
                            <img src="{{catalog.catalogImage}}" 
                                class="catalog-image" 
                                nz-tooltip 
                                nzTooltipTitle="{{catalog.catalogName | titlecase}}" 
                                nzTooltipPlacement="top"
                                width="40" height="40">
                            } @else {
                            <img src="../../../../../assets/images/no-image.png" 
                                    class="catalog-image" 
                                    nz-tooltip 
                                    nzTooltipTitle="{{catalog.catalogName | titlecase}}" 
                                    nzTooltipPlacement="top"
                                    width="40" height="40">
                            }
                        }
                    </div>
                </td>
                <td>
                    <span class="font-semibold">{{providerReqWithCatalogs.providerRequirement.minQuantityToBeAccepted}}</span>
                </td>
                <td>{{providerReqWithCatalogs.providerRequirement.minPriceToBeAccepted | currency}}</td>
                <td class="text-3xl">
                    <div class="flex flex-row items-center gap-2">
                        <svg-icon iconName="eye-outline" 
                                  [size]="32" 
                                  [strokeColor]="this.theme.green"
                                  nz-tooltip 
                                  nzTooltipTitle="View Details" 
                                  nzTooltipPlacement="top"
                                  (click)="navigateToProviderDetail(providerReqWithCatalogs.providerRequirement.providerRequirementId)"
                                  class="cursor-pointer">
                        </svg-icon>
                        <svg-icon iconName="trash-outline" 
                                  [size]="32" 
                                  [strokeColor]="this.theme.red"
                                  nz-tooltip 
                                  nzTooltipTitle="Delete Entry" 
                                  nzTooltipPlacement="top"
                                  class="cursor-not-allowed">
                        </svg-icon>
                        <svg-icon iconName="times" 
                                  [size]="32" 
                                  [strokeColor]="this.theme.purple"
                                  nz-tooltip 
                                  nzTooltipTitle="Hide Entry" 
                                  nzTooltipPlacement="top"
                                  class="cursor-not-allowed">
                        </svg-icon>
                    </div>
                </td>
            </tr>
            }
        </table>
    </div>

    <!-- Pagination -->
    <div class="mt-5 flex flex-row justify-between">
        <div>
            <span class="mr-2">Showing 1 to 10 of 57 entries</span>
            <select name="" id="">
                <option value="">10</option>
                <option value="">20</option>
                <option value="">30</option>
                <option value="">40</option>
                <option value="">50</option>
            </select>
        </div>
        <div class="pagination-container">
            <span class="prev-btn">&laquo;</span>
            <ng-container *ngFor="let pageNum of [1, 2, 3]">
                <span class="page-btn">{{ pageNum }}</span>
            </ng-container>
            <span class="next-btn">&raquo;</span>
        </div>
    </div>
</div>