// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Barcode+128+Text&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

$colorPurple: #6420AA;
$colorGreen: #337357;
$colorRed: #D64545;

// :host {
//     font-family: Inter, sans-serif !important;
// }
.flex-row-center {
    @apply flex flex-row items-center;
}

.base-tailwind-btn {
    @apply text-lg px-4 py-2 rounded-[8px] cursor-pointer;
    min-width: fit-content;
    transition: all 0.3s ease;
    &:hover {
        transform: translateY(-2px);
    }

}
.outline-btn {
    @extend .base-tailwind-btn;
    @apply border border-solid;
    &-purple {
        @extend .outline-btn;
        border-color: $colorPurple;
        color: $colorPurple;
    }
    &-green {
        @extend .outline-btn;
        border-color: $colorGreen;
        color: $colorGreen;
    }
    &-red {
        @extend .outline-btn;
        border-color: $colorRed;
        color: $colorRed;
    }
}

.fill-btn {
    @extend .base-tailwind-btn;
    &-purple {
        @extend .fill-btn;
        background-color: $colorPurple;
        color: #fff;
    }
    &-green {
        @extend .fill-btn;
        background-color: $colorGreen;
        color: #fff;
    }
    &-red {
        @extend .fill-btn;
        background-color: $colorRed;
        color: #fff;
    }
}

.search-container {       
    @apply w-full px-4 py-5 bg-[#fff];
    border-radius: 5px;
    color: #333;
}

select.input-here {
    -webkit-appearance: none; //hide the arrow down in select
    -moz-appearance: none;
    appearance: none;
    
    //the stroke color of svg should be changed
    background-image: url('../../../../../assets/images/chevron-down-outline.svg');
    background-repeat: no-repeat;
    background-position: right 0.8em top 50%;
    background-size: 20px;

}

.search-container-input {
    @apply w-full;
    outline: none;    
    &::placeholder {
        color: #999;
        text-transform: uppercase;
    }
}

.table-container {
    @apply w-full px-4 py-5 mt-[24px];
    overflow: auto;
    border-radius: 5px;
}

table {
    margin-top: 14px;
    width: 100%;
    min-width: 800px;
    overflow: scroll;
    font-size: 18px;

    th > div > input[type="checkbox"], td > input[type="checkbox"] {
        @apply cursor-pointer p-[7px] rounded-sm;
        appearance: none;
        outline: none;
        border: 2px solid $colorPurple;
        &:checked {
            background-color: $colorPurple;
        }
    }

    .qty-container {        
        @apply flex flex-row w-fit m-auto py-1 px-1;
        @apply bg-[#ddd];
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
        input[type="number"] {
            @apply w-[60px] bg-[#ddd] text-[#121212];
            outline: none;
            text-align: center;
        }
        .incr-btn, .desc-btn {
            @apply font-bold text-lg px-3 text-[#fff] bg-[#6420AA] cursor-pointer;
            @apply rounded-sm hover:bg-[#4c0f7e];
        }
    }

    td:not(.left-align) {
        text-align: left; //can change to center
    }

    .left-align, th {
        text-align: left;
    }

    tr {
        border-bottom: 1px solid #f0f0f0;
    }

    td, th {
        padding: 22px 0;
    }

    .sort-icon {
        @apply absolute top-1/2 right-[-25px];
        transform: translate(0, -50%);
    }
    .asc.sort-icon::before {
        content: '↑';
        color: #333; /* Highlight color for ascending */
      }
    
    .desc .sort-icon::before {
    content: '↓';
    color: #333; /* Highlight color for descending */
    }
}

.prev-btn, .next-btn, .page-btn {
    @apply text-lg px-4 py-2 rounded-[8px] cursor-pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: translateY(-2px);
    }
}

.page-btn:hover {
    background-color: #fff;
    color: $colorPurple;
}