@import '../../core/styles/animations';

.spinner__container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    // TODO: change to variable
    background-color: rgba(0,0,0,.9);
    z-index: 101;/* always on top*/
    &--flex {
        @apply flex justify-center items-center;
        height: 100%;
    }
}

.spinner {
    width: 100px; height: 100px;
    border-radius: 50%;
    @include animation-config(spinnerFade, 0.3s, ease-in-out,$iteration-count: infinite);
}