<div class="my-container my-12">
    <div class="upper">
        <div class="flex flex-col justify-between gap-6 xl:flex-row">
            <div class="flex flex-col-reverse gap-6 w-[80%] mx-auto 
                xl:flex-row lg:w-full xl:mx-0" 
            > 
                <!-- để quay carousel image xuống dưới image lớn -->
                <div class="min-w-[120px] flex flex-row justify-between items-center self-start gap-2 xl:flex-col">
                    <button class="py-2 px-4 bg-gray-300 self-stretch text-lg">&#94;</button>
                    <div class="border border-solid border-gray-50 rounded-md">
                        <img src="/assets/images/today-is-a-good-day-framed-poster.jpg" alt="">
                    </div>
                    <div class="border border-solid border-gray-50 rounded">
                        <img src="/assets/images/today-is-a-good-day-framed-poster-2.jpg" alt="">
                    </div>
                    <div class="border border-solid border-gray-50 rounded">
                        <img src="/assets/images/today-is-a-good-day-framed-poster-3.jpg" alt="">
                    </div>
                    <div class="border border-solid border-gray-50 rounded">
                        <img src="/assets/images/today-is-a-good-day-framed-poster-4.jpg" alt="">
                    </div>
                    <button class="py-2 px-4 bg-gray-300 self-stretch text-lg" style="transform: rotate(180deg);">&#94;</button>
                </div>
                <div class="border border-solid border-gray-50 rounded self-start  overflow-hidden
                    bg-[url('{{ (product$ | async)?.productCoverImage }}')] bg-no-repeat w-full h-[520px] bg-[length:300px_200px] bg-center
                    lg:bg-[length:500px_400px] xl:min-w-[300px] xl:min-h-[680px] xl:bg-[length:580px_500px]"
                >
                    <img class="fluid-img" src="{{ (product$ | async)?.productCoverImage }}">
                </div>
            </div>
            <div>
                <esa-product-info [product]="(product$ | async)!"
                                  [isProductBookmarked]="isProductBookmarked$ | async"
                                  [isProductLiked]="isProductLiked$ | async"
                                  [isProductDisliked]="isProductDisliked$ | async"
                                  (productBookmarkToggled)="toggleProductBookmark($event)"
                                  (productLikeToggled)="toggleProductLike($event)"
                                  (productDislikeToggled)="toggleProductDislike($event)">
                </esa-product-info>
                <esa-product-policy></esa-product-policy>
            </div>
        </div>
    </div>
    <div class="lower">
        <div class="tab-container">
            <div class="flex flex-row justify-start gap-4">
                <p class="px-2 py-4">Description</p>
                <p class="px-2 py-4">Product Details</p>
            </div>
        </div>

        <div class="tabcontent-container rounded border border-solid border-gray-200">
            <div class="tabcontent p-8">
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="font-semibold pt-4">Lighweight Design</p>
                <p>Design with a super light geometric case, the Versa family watches are slim, casula and comfortable
                    enough to wear all day and night. Swith up your look with classic, leather metal and woven accessory
                    bands. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <p class="font-semibold pt-4">Free Shipping & Return</p>
                <p>We offer free shipping for products on orders above 50$ and offere free delivery for all orders in
                    US.</p>
                <p class="font-semibold pt-4">Money Back Guarantee</p>
                <p>We guarantee our products and you could get back all of your money anytime you want in 30 days.</p>
                <p class="font-semibold pt-4">Online Support</p>
                <p>You will get 24 hour support with this purchase product and you can return it within 30 days for an
                    exchange.</p> -->
                <p>{{ (product$ | async)?.productInfo?.productDescription }}</p>
            </div>
        </div>
    </div>

    <div class="comment-container  flex flex-row gap-4 \">
        <div class="mt-6 rounded border border-solid border-gray-200 shadow mb-8 flex flex-col px-4 py-2 w-3/4">
            @if ((authStatus$ | async) === AuthStatus.Authenticated) {
                <esa-product-comment-form (productCommented)="commentProduct($event)">
                </esa-product-comment-form>
            } @else {
                <ng-container *ngTemplateOutlet="loginRequiredToComment">
                </ng-container>
            }
            
            <div class="pl-4 py-6">
                <h2 class="mb-3 text-xl font-semibold">2 Comments</h2>
                @for (comment of productComments$ | async; track $index) {
                <esa-product-comment [comment]="comment">
                </esa-product-comment>
                }
            </div>
        </div>
        <div class="flex-auto"></div>
    </div>
    <ng-template #loginRequiredToComment>
        <div class="flex flex-row gap-3">
            <svg-icon [iconName]="'lock'" 
                      [size]="26">
            </svg-icon>
            <p>Please 
                <span class="cursor-pointer text-blue-400 hover:underline"
                      (click)="login()">
                    login
                </span>
                to comment
            </p>
        </div>
    </ng-template>

</div>